In [1]:
import json, codecs, os
import sqlite3

In [2]:
nodes_fpath = os.getcwd() + '/raw_graph_schema/node_properties.json'
rels_fpath = os.getcwd() + '/raw_graph_schema/rel_properties.json'

In [3]:
from typing import List, Dict, Tuple
db_fpath =  '/home/22842219/Desktop/projects_data/spider/database'
sorted_schema = {}
# {"department_management": {'db_id': str, 'tag_names': List(str), 'property_names': [(-1, "*"), (tag_idx, column_name0)...]
# tag_name:{propery_name: []}}}
for fpath in [nodes_fpath, rels_fpath]:
    with codecs.open(fpath, 'r', 'utf-8-sig') as f:
        data = json.load(f)
        for every in data:
            if 'nodeType' in every:
                tag = every['nodeType'][1:]
            elif 'relType' in every:
                tag = every['relType'][1:]
            tag_seps = tag.strip("`").split('.')
            db_id = tag_seps[0]
            
            if db_id not in sorted_schema:
                sorted_schema[db_id] = {'db_id': db_id, 'tag_names_original': [], 'tag_names': [], \
                    'property_names': [(-1, "*")], 'property_types': []}
            tag_name = tag_seps[1]
            if tag_name not in sorted_schema[db_id]:
                sorted_schema[db_id][tag_name]={}  
            if tag_name not in sorted_schema[db_id]['tag_names_original']:
                sorted_schema[db_id]['tag_names_original'].append(tag_name)
                sorted_schema[db_id]['tag_names'].append(tag)

            if bool(every['propertyTypes']):
                if isinstance(every['propertyTypes'], list):
                    sorted_schema[db_id]['property_types'].append('_'.join(every['propertyTypes']))

            # use sqlite cursor to get field values. 
            # we use the concept of picklist to save field values.
        # if db_id == 'department_management':
            db_path = os.path.join(db_fpath, db_id, '{}.sqlite'.format(db_id))
            tag_id = sorted_schema[db_id]['tag_names_original'].index(tag_name)
            if bool(every['propertyName']) and every['propertyName'].lower()!='none':
                sorted_schema[db_id]['property_names'].append(tuple((tag_id, every['propertyName'])))
                fetch_sql = "SELECT DISTINCT `{}` FROM `{}`".format(every['propertyName'], tag_name)
                print(db_id, tag_name, fetch_sql)
                try:
                    conn = sqlite3.connect(db_path)
                    conn.text_factory = bytes
                    c = conn.cursor()
                    c.execute(fetch_sql)
                    picklist = set()
                    # print(c.fetchall())
                    for x in c.fetchall():
                        if bool(x[0]):
                            if isinstance(x[0], str):
                                picklist.add(x[0])
                            elif isinstance(x[0], bytes):
                                try:
                                    picklist.add(x[0].decode("utf-8"))
                                except UnicodeDecodeError:
                                    picklist.add(x[0].decode("latin-1"))
                            else:
                                picklist.add(x[0])
                    picklist = list(picklist)
                finally:
                    conn.close()
                
                sorted_schema[db_id][tag_name][every['propertyName']]=picklist
                sorted_schema[db_id]=sorted_schema[db_id]

flight_company airport SELECT DISTINCT `IATA` FROM `airport`
flight_company airport SELECT DISTINCT `name` FROM `airport`
flight_company airport SELECT DISTINCT `Country` FROM `airport`
flight_company airport SELECT DISTINCT `ICAO` FROM `airport`
flight_company airport SELECT DISTINCT `id` FROM `airport`
flight_company airport SELECT DISTINCT `City` FROM `airport`
flight_company operate_company SELECT DISTINCT `name` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `id` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `Type` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `Principal_activities` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `Incorporated_in` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `Group_Equity_Shareholding` FROM `operate_company`
flight_company flight SELECT DISTINCT `id` FROM `flight`
flight_company flight SELECT DISTINCT `Pilot` FROM `flight`
flight_company flight SELECT DISTINCT `airport_id` FROM `flight`
flight_company flight SELECT DISTINCT `company_id` FROM `flight`
flight_company flight SELECT DISTINCT `Vehicle_Flight_number` FROM `flight`
flight_company flight SELECT DISTINCT `Velocity` FROM `flight`
flight_company flight SELECT DISTINCT `Date` FROM `flight`
flight_company flight SELECT DISTINCT `Altitude` FROM `flight`
employee_hire_evaluation employee SELECT DISTINCT `City` FROM `employee`
employee_hire_evaluation employee SELECT DISTINCT `Employee_ID` FROM `employee`
employee_hire_evaluation employee SELECT DISTINCT `Age` FROM `employee`
employee_hire_evaluation employee SELECT DISTINCT `Name` FROM `employee`
employee_hire_evaluation shop SELECT DISTINCT `Name` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `Manager_name` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `Number_products` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `Shop_ID` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `Location` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `District` FROM `shop`
employee_hire_evaluation hiring SELECT DISTINCT `Employee_ID` FROM `hiring`
employee_hire_evaluation hiring SELECT DISTINCT `Start_from` FROM `hiring`
employee_hire_evaluation hiring SELECT DISTINCT `Is_full_time` FROM `hiring`
employee_hire_evaluation hiring SELECT DISTINCT `Shop_ID` FROM `hiring`
employee_hire_evaluation evaluation SELECT DISTINCT `Employee_ID` FROM `evaluation`
employee_hire_evaluation evaluation SELECT DISTINCT `Year_awarded` FROM `evaluation`
employee_hire_evaluation evaluation SELECT DISTINCT `Bonus` FROM `evaluation`
train_station station SELECT DISTINCT `Name` FROM `station`
train_station station SELECT DISTINCT `Annual_entry_exit` FROM `station`
train_station station SELECT DISTINCT `Location` FROM `station`
train_station station SELECT DISTINCT `Annual_interchanges` FROM `station`
train_station station SELECT DISTINCT `Main_Services` FROM `station`
train_station station SELECT DISTINCT `Station_ID` FROM `station`
train_station station SELECT DISTINCT `Number_of_Platforms` FROM `station`
train_station station SELECT DISTINCT `Total_Passengers` FROM `station`
train_station train SELECT DISTINCT `Name` FROM `train`
train_station train SELECT DISTINCT `Train_ID` FROM `train`
train_station train SELECT DISTINCT `Time` FROM `train`
train_station train SELECT DISTINCT `Service` FROM `train`
company_office buildings SELECT DISTINCT `name` FROM `buildings`
company_office buildings SELECT DISTINCT `id` FROM `buildings`
company_office buildings SELECT DISTINCT `City` FROM `buildings`
company_office buildings SELECT DISTINCT `Status` FROM `buildings`
company_office buildings SELECT DISTINCT `Stories` FROM `buildings`
company_office buildings SELECT DISTINCT `Height` FROM `buildings`
company_office Companies SELECT DISTINCT `name` FROM `Companies`
company_office Companies SELECT DISTINCT `id` FROM `Companies`
company_office Companies SELECT DISTINCT `Assets_billion` FROM `Companies`
company_office Companies SELECT DISTINCT `Profits_billion` FROM `Companies`
company_office Companies SELECT DISTINCT `Market_Value_billion` FROM `Companies`
company_office Companies SELECT DISTINCT `Headquarters` FROM `Companies`
company_office Companies SELECT DISTINCT `Industry` FROM `Companies`
company_office Companies SELECT DISTINCT `Sales_billion` FROM `Companies`
county_public_safety county_public_safety SELECT DISTINCT `Name` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Police_officers` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Crime_rate` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `County_ID` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Residents_per_officer` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Police_force` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Location` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Population` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Case_burden` FROM `county_public_safety`
county_public_safety city SELECT DISTINCT `Name` FROM `city`
county_public_safety city SELECT DISTINCT `City_ID` FROM `city`
county_public_safety city SELECT DISTINCT `Multiracial` FROM `city`
county_public_safety city SELECT DISTINCT `Asian` FROM `city`
county_public_safety city SELECT DISTINCT `County_ID` FROM `city`
county_public_safety city SELECT DISTINCT `Black` FROM `city`
county_public_safety city SELECT DISTINCT `White` FROM `city`
county_public_safety city SELECT DISTINCT `Hispanic` FROM `city`
county_public_safety city SELECT DISTINCT `Amerindian` FROM `city`
dog_kennels Breeds SELECT DISTINCT `breed_code` FROM `Breeds`
dog_kennels Breeds SELECT DISTINCT `breed_name` FROM `Breeds`
dog_kennels Charges SELECT DISTINCT `charge_amount` FROM `Charges`
dog_kennels Charges SELECT DISTINCT `charge_type` FROM `Charges`
dog_kennels Charges SELECT DISTINCT `charge_id` FROM `Charges`
dog_kennels Sizes SELECT DISTINCT `size_code` FROM `Sizes`
dog_kennels Sizes SELECT DISTINCT `size_description` FROM `Sizes`
dog_kennels Treatment_Types SELECT DISTINCT `treatment_type_description` FROM `Treatment_Types`
dog_kennels Treatment_Types SELECT DISTINCT `treatment_type_code` FROM `Treatment_Types`
dog_kennels Owners SELECT DISTINCT `city` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `state` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `street` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `home_phone` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `last_name` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `first_name` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `cell_number` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `zip_code` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `email_address` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `owner_id` FROM `Owners`
dog_kennels Dogs SELECT DISTINCT `name` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `abandoned_yn` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `age` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `breed_code` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `dog_id` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `size_code` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `weight` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `date_arrived` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `date_departed` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `gender` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `date_adopted` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `date_of_birth` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `owner_id` FROM `Dogs`
dog_kennels Professionals SELECT DISTINCT `city` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `state` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `street` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `home_phone` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `last_name` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `first_name` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `role_code` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `cell_number` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `professional_id` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `zip_code` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `email_address` FROM `Professionals`
dog_kennels Treatments SELECT DISTINCT `date_of_treatment` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `treatment_id` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `dog_id` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `professional_id` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `cost_of_treatment` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `treatment_type_code` FROM `Treatments`
network_1 Highschooler SELECT DISTINCT `name` FROM `Highschooler`
network_1 Highschooler SELECT DISTINCT `ID` FROM `Highschooler`
network_1 Highschooler SELECT DISTINCT `grade` FROM `Highschooler`
entertainment_awards festival_detail SELECT DISTINCT `Num_of_Audience` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Year` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Chair_Name` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Festival_ID` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Location` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Festival_Name` FROM `festival_detail`
entertainment_awards artwork SELECT DISTINCT `Type` FROM `artwork`
entertainment_awards artwork SELECT DISTINCT `Name` FROM `artwork`
entertainment_awards artwork SELECT DISTINCT `Artwork_ID` FROM `artwork`
customer_deliveries Products SELECT DISTINCT `product_price` FROM `Products`
customer_deliveries Products SELECT DISTINCT `product_name` FROM `Products`
customer_deliveries Products SELECT DISTINCT `product_id` FROM `Products`
customer_deliveries Products SELECT DISTINCT `product_description` FROM `Products`
customer_deliveries Addresses SELECT DISTINCT `city` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `address_details` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `state_province_county` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `country` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `address_id` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `zip_postcode` FROM `Addresses`
customer_deliveries Customers SELECT DISTINCT `customer_name` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `customer_phone` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `payment_method` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `date_became_customer` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `customer_id` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `customer_email` FROM `Customers`
customer_deliveries Regular_Orders SELECT DISTINCT `regular_order_id` FROM `Regular_Orders`
customer_deliveries Regular_Orders SELECT DISTINCT `distributer_id` FROM `Regular_Orders`
customer_deliveries Actual_Orders SELECT DISTINCT `actual_order_id` FROM `Actual_Orders`
customer_deliveries Actual_Orders SELECT DISTINCT `actual_order_date` FROM `Actual_Orders`
customer_deliveries Actual_Orders SELECT DISTINCT `regular_order_id` FROM `Actual_Orders`
customer_deliveries Actual_Orders SELECT DISTINCT `order_status_code` FROM `Actual_Orders`
customer_deliveries Delivery_Routes SELECT DISTINCT `other_route_details` FROM `Delivery_Routes`
customer_deliveries Delivery_Routes SELECT DISTINCT `route_name` FROM `Delivery_Routes`
customer_deliveries Delivery_Routes SELECT DISTINCT `route_id` FROM `Delivery_Routes`
customer_deliveries Delivery_Route_Locations SELECT DISTINCT `location_name` FROM `Delivery_Route_Locations`
customer_deliveries Delivery_Route_Locations SELECT DISTINCT `location_code` FROM `Delivery_Route_Locations`
customer_deliveries Delivery_Route_Locations SELECT DISTINCT `location_address_id` FROM `Delivery_Route_Locations`
customer_deliveries Delivery_Route_Locations SELECT DISTINCT `route_id` FROM `Delivery_Route_Locations`
customer_deliveries Trucks SELECT DISTINCT `truck_id` FROM `Trucks`
customer_deliveries Trucks SELECT DISTINCT `truck_details` FROM `Trucks`
customer_deliveries Trucks SELECT DISTINCT `truck_licence_number` FROM `Trucks`
customer_deliveries Employees SELECT DISTINCT `employee_name` FROM `Employees`
customer_deliveries Employees SELECT DISTINCT `employee_phone` FROM `Employees`
customer_deliveries Employees SELECT DISTINCT `employee_address_id` FROM `Employees`
customer_deliveries Employees SELECT DISTINCT `employee_id` FROM `Employees`
customer_deliveries Order_Deliveries SELECT DISTINCT `delivery_date` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `truck_id` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `actual_order_id` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `driver_employee_id` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `location_code` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `delivery_status_code` FROM `Order_Deliveries`
flight_2 airlines SELECT DISTINCT `Country` FROM `airlines`
flight_2 airlines SELECT DISTINCT `Abbreviation` FROM `airlines`
flight_2 airlines SELECT DISTINCT `uid` FROM `airlines`
flight_2 airlines SELECT DISTINCT `Airline` FROM `airlines`
flight_2 airports SELECT DISTINCT `Country` FROM `airports`
flight_2 airports SELECT DISTINCT `City` FROM `airports`
flight_2 airports SELECT DISTINCT `AirportName` FROM `airports`
flight_2 airports SELECT DISTINCT `AirportCode` FROM `airports`
flight_2 airports SELECT DISTINCT `CountryAbbrev` FROM `airports`
csu_1 Campuses SELECT DISTINCT `County` FROM `Campuses`
csu_1 Campuses SELECT DISTINCT `Id` FROM `Campuses`
csu_1 Campuses SELECT DISTINCT `Year` FROM `Campuses`
csu_1 Campuses SELECT DISTINCT `Campus` FROM `Campuses`
csu_1 Campuses SELECT DISTINCT `Location` FROM `Campuses`
csu_1 csu_fees SELECT DISTINCT `Year` FROM `csu_fees`
csu_1 csu_fees SELECT DISTINCT `Campus` FROM `csu_fees`
csu_1 csu_fees SELECT DISTINCT `CampusFee` FROM `csu_fees`
csu_1 degrees SELECT DISTINCT `Year` FROM `degrees`
csu_1 degrees SELECT DISTINCT `Campus` FROM `degrees`
csu_1 degrees SELECT DISTINCT `Degrees` FROM `degrees`
csu_1 discipline_enrollments SELECT DISTINCT `Year` FROM `discipline_enrollments`
csu_1 discipline_enrollments SELECT DISTINCT `Discipline` FROM `discipline_enrollments`
csu_1 discipline_enrollments SELECT DISTINCT `Campus` FROM `discipline_enrollments`
csu_1 discipline_enrollments SELECT DISTINCT `Graduate` FROM `discipline_enrollments`
csu_1 discipline_enrollments SELECT DISTINCT `Undergraduate` FROM `discipline_enrollments`
csu_1 enrollments SELECT DISTINCT `Year` FROM `enrollments`
csu_1 enrollments SELECT DISTINCT `Campus` FROM `enrollments`
csu_1 enrollments SELECT DISTINCT `FTE_AY` FROM `enrollments`
csu_1 enrollments SELECT DISTINCT `TotalEnrollment_AY` FROM `enrollments`
csu_1 faculty SELECT DISTINCT `Year` FROM `faculty`
csu_1 faculty SELECT DISTINCT `Campus` FROM `faculty`
csu_1 faculty SELECT DISTINCT `Faculty` FROM `faculty`
voter_2 Student SELECT DISTINCT `Age` FROM `Student`
voter_2 Student SELECT DISTINCT `city_code` FROM `Student`
voter_2 Student SELECT DISTINCT `Advisor` FROM `Student`
voter_2 Student SELECT DISTINCT `Major` FROM `Student`
voter_2 Student SELECT DISTINCT `Sex` FROM `Student`
voter_2 Student SELECT DISTINCT `Fname` FROM `Student`
voter_2 Student SELECT DISTINCT `StuID` FROM `Student`
voter_2 Student SELECT DISTINCT `LName` FROM `Student`
voter_2 Voting_record SELECT DISTINCT `Vice_President_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Treasurer_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Class_Senator_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `StuID` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Secretary_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Election_Cycle` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Class_President_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `President_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Registration_Date` FROM `Voting_record`
flight_1 flight SELECT DISTINCT `origin` FROM `flight`
flight_1 flight SELECT DISTINCT `distance` FROM `flight`
flight_1 flight SELECT DISTINCT `aid` FROM `flight`
flight_1 flight SELECT DISTINCT `arrival_date` FROM `flight`
flight_1 flight SELECT DISTINCT `price` FROM `flight`
flight_1 flight SELECT DISTINCT `flno` FROM `flight`
flight_1 flight SELECT DISTINCT `departure_date` FROM `flight`
flight_1 flight SELECT DISTINCT `destination` FROM `flight`
flight_1 aircraft SELECT DISTINCT `name` FROM `aircraft`
flight_1 aircraft SELECT DISTINCT `distance` FROM `aircraft`
flight_1 aircraft SELECT DISTINCT `aid` FROM `aircraft`
flight_1 employee SELECT DISTINCT `name` FROM `employee`
flight_1 employee SELECT DISTINCT `salary` FROM `employee`
flight_1 employee SELECT DISTINCT `eid` FROM `employee`
battle_death battle SELECT DISTINCT `name` FROM `battle`
battle_death battle SELECT DISTINCT `id` FROM `battle`
battle_death battle SELECT DISTINCT `bulgarian_commander` FROM `battle`
battle_death battle SELECT DISTINCT `result` FROM `battle`
battle_death battle SELECT DISTINCT `latin_commander` FROM `battle`
battle_death battle SELECT DISTINCT `date` FROM `battle`
battle_death ship SELECT DISTINCT `name` FROM `ship`
battle_death ship SELECT DISTINCT `id` FROM `ship`
battle_death ship SELECT DISTINCT `disposition_of_ship` FROM `ship`
battle_death ship SELECT DISTINCT `ship_type` FROM `ship`
battle_death ship SELECT DISTINCT `location` FROM `ship`
battle_death ship SELECT DISTINCT `lost_in_battle` FROM `ship`
battle_death ship SELECT DISTINCT `tonnage` FROM `ship`
battle_death death SELECT DISTINCT `id` FROM `death`
battle_death death SELECT DISTINCT `caused_by_ship_id` FROM `death`
battle_death death SELECT DISTINCT `injured` FROM `death`
battle_death death SELECT DISTINCT `killed` FROM `death`
battle_death death SELECT DISTINCT `note` FROM `death`
match_season country SELECT DISTINCT `Capital` FROM `country`
match_season country SELECT DISTINCT `Country_id` FROM `country`
match_season country SELECT DISTINCT `Country_name` FROM `country`
match_season country SELECT DISTINCT `Official_native_language` FROM `country`
match_season team SELECT DISTINCT `Name` FROM `team`
match_season team SELECT DISTINCT `Team_id` FROM `team`
match_season match_season SELECT DISTINCT `Country` FROM `match_season`
match_season match_season SELECT DISTINCT `College` FROM `match_season`
match_season match_season SELECT DISTINCT `Season` FROM `match_season`
match_season match_season SELECT DISTINCT `Draft_Class` FROM `match_season`
match_season match_season SELECT DISTINCT `Player` FROM `match_season`
match_season match_season SELECT DISTINCT `Team` FROM `match_season`
match_season match_season SELECT DISTINCT `Position` FROM `match_season`
match_season match_season SELECT DISTINCT `Draft_Pick_Number` FROM `match_season`
match_season player SELECT DISTINCT `Total_WL` FROM `player`
match_season player SELECT DISTINCT `Player_ID` FROM `player`
match_season player SELECT DISTINCT `Singles_WL` FROM `player`
match_season player SELECT DISTINCT `Years_Played` FROM `player`
match_season player SELECT DISTINCT `Player` FROM `player`

In [4]:

len(sorted_schema)

155

In [ ]:
sorted_schema

In [5]:
import os
outfpath= os.getcwd() +  '/schema.json'
with codecs.open(outfpath, 'w', encoding='utf-8') as out:
    json.dump(sorted_schema, out, indent=4)

In [ ]:
sp_data_folder =  '/home/22842219/Desktop/phd/SemanticParser4Graph/sp_data_folder'
out='/home/22842219/Desktop/phd/SemanticParser4Graph/semantic_parser/data/text2cypher'
for split in ['train_correct_.json', 'dev_correct_.json']:
    fpth = os.path.join(sp_data_folder,  split )
    print(fpth)
    data = []
    with open(fpth, 'r', encoding='utf-8-sig') as f:
        data = json.load(f)
        for every in data:
            if every['answers'] and every['answers']!=[[0]]:
                item = {}
                item['db_id'] = every['db_id']
                item['question'] = every['question']
                item['query'] = every['query']
                item['answers'] = every['answers']
                item['schema']= sorted_schema[every['db_id']]
                data.append(item)


        with open(os.path.join(out, split), 'w') as out:
            json.dump(data, out, indent=4)