In [1]:
import json, codecs, os
import sqlite3

In [2]:
nodes_fpath = os.getcwd() + '/raw_graph_schema/node_properties.json'
rels_fpath = os.getcwd() + '/raw_graph_schema/rel_properties.json'

In [3]:
from typing import List, Dict, Tuple
db_fpath =  '/home/22842219/Desktop/projects_data/spider/database'
sorted_schema = {}
checking_dbs = []
# {"department_management": {'db_id': str, 'tag_names': List(str), 'property_names': [(-1, "*"), (tag_idx, column_name0)...]
# tag_name:{propery_name: []}}}
for fpath in [nodes_fpath, rels_fpath]:
    with codecs.open(fpath, 'r', 'utf-8-sig') as f:
        data = json.load(f)
        for every in data:
            if 'nodeType' in every:
                tag = every['nodeType']
            elif 'relType' in every:
                tag = every['relType']
            tag_seps = tag.strip(':').strip("`").split('.')
            db_id = tag_seps[0]
            if db_id not in checking_dbs:
                checking_dbs.append(db_id)
                each_schema = {'db_id':db_id, 'tag_names_original': [], 'tag_names': [], \
                    'property_names': [(-1, "*")], 'property_types': []}
                sorted_schema[db_id]=each_schema
            target = sorted_schema[db_id]
            if db_id in target['db_id']:
                tag_name = tag_seps[1]
                if tag_name not in target:
                    target[tag_name]={}
                if tag_name not in target['tag_names_original']:
                    target['tag_names_original'].append(tag_name)
                    target['tag_names'].append(tag)


                if isinstance(every['propertyTypes'], list) and len(every['propertyTypes'])==1:
                    target['property_types'].append('_'.join(every['propertyTypes']))
                else:
                    target['property_types'].append(every['propertyTypes'])
                    
                # use sqlite cursor to get field values. 
                # we use the concept of picklist to save field values.
            # if db_id == 'department_management':
                db_path = os.path.join(db_fpath, db_id, '{}.sqlite'.format(db_id))
                tag_id = target['tag_names_original'].index(tag_name)
                target['property_names'].append((tag_id, every['propertyName']))
                if every['propertyName']:
                    fetch_sql = "SELECT DISTINCT `{}` FROM `{}`".format(every['propertyName'], tag_name)
                    print(db_id, tag_name, fetch_sql)
                    try:
                        conn = sqlite3.connect(db_path)
                        # conn.text_factory = bytes
                        c = conn.cursor()
                        c.execute(fetch_sql)
                        picklist = set()
                        # print(c.fetchall())
                        for x in c.fetchall():

                            if isinstance(x[0], str):
                                picklist.add(x[0])
                            elif isinstance(x[0], bytes):
                                try:
                                    picklist.add(x[0].decode("utf-8"))
                                except UnicodeDecodeError:
                                    picklist.add(x[0].decode("latin-1"))
                            else:
                                picklist.add(x[0])
                        picklist = list(picklist)
                    finally:
                        conn.close()
                    target[tag_name][every['propertyName']]=picklist

flight_company airport SELECT DISTINCT `name` FROM `airport`
flight_company airport SELECT DISTINCT `IATA` FROM `airport`
flight_company airport SELECT DISTINCT `Country` FROM `airport`
flight_company airport SELECT DISTINCT `ICAO` FROM `airport`
flight_company airport SELECT DISTINCT `id` FROM `airport`
flight_company airport SELECT DISTINCT `City` FROM `airport`
flight_company operate_company SELECT DISTINCT `name` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `id` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `Type` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `Principal_activities` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `Incorporated_in` FROM `operate_company`
flight_company operate_company SELECT DISTINCT `Group_Equity_Shareholding` FROM `operate_company`
flight_company flight SELECT DISTINCT `id` FROM `flight`
flight_company flight SELECT DISTINCT `Pilot` FROM `flight`
flight_company flight SELECT DISTINCT `airport_id` FROM `flight`
flight_company flight SELECT DISTINCT `company_id` FROM `flight`
flight_company flight SELECT DISTINCT `Vehicle_Flight_number` FROM `flight`
flight_company flight SELECT DISTINCT `Velocity` FROM `flight`
flight_company flight SELECT DISTINCT `Date` FROM `flight`
flight_company flight SELECT DISTINCT `Altitude` FROM `flight`
employee_hire_evaluation employee SELECT DISTINCT `City` FROM `employee`
employee_hire_evaluation employee SELECT DISTINCT `Employee_ID` FROM `employee`
employee_hire_evaluation employee SELECT DISTINCT `Age` FROM `employee`
employee_hire_evaluation employee SELECT DISTINCT `Name` FROM `employee`
employee_hire_evaluation shop SELECT DISTINCT `Name` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `Manager_name` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `Number_products` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `Shop_ID` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `Location` FROM `shop`
employee_hire_evaluation shop SELECT DISTINCT `District` FROM `shop`
employee_hire_evaluation hiring SELECT DISTINCT `Employee_ID` FROM `hiring`
employee_hire_evaluation hiring SELECT DISTINCT `Start_from` FROM `hiring`
employee_hire_evaluation hiring SELECT DISTINCT `Is_full_time` FROM `hiring`
employee_hire_evaluation hiring SELECT DISTINCT `Shop_ID` FROM `hiring`
employee_hire_evaluation evaluation SELECT DISTINCT `Employee_ID` FROM `evaluation`
employee_hire_evaluation evaluation SELECT DISTINCT `Year_awarded` FROM `evaluation`
employee_hire_evaluation evaluation SELECT DISTINCT `Bonus` FROM `evaluation`
train_station station SELECT DISTINCT `Name` FROM `station`
train_station station SELECT DISTINCT `Annual_entry_exit` FROM `station`
train_station station SELECT DISTINCT `Location` FROM `station`
train_station station SELECT DISTINCT `Annual_interchanges` FROM `station`
train_station station SELECT DISTINCT `Main_Services` FROM `station`
train_station station SELECT DISTINCT `Station_ID` FROM `station`
train_station station SELECT DISTINCT `Number_of_Platforms` FROM `station`
train_station station SELECT DISTINCT `Total_Passengers` FROM `station`
train_station train SELECT DISTINCT `Name` FROM `train`
train_station train SELECT DISTINCT `Train_ID` FROM `train`
train_station train SELECT DISTINCT `Time` FROM `train`
train_station train SELECT DISTINCT `Service` FROM `train`
company_office buildings SELECT DISTINCT `name` FROM `buildings`
company_office buildings SELECT DISTINCT `id` FROM `buildings`
company_office buildings SELECT DISTINCT `City` FROM `buildings`
company_office buildings SELECT DISTINCT `Status` FROM `buildings`
company_office buildings SELECT DISTINCT `Stories` FROM `buildings`
company_office buildings SELECT DISTINCT `Height` FROM `buildings`
company_office Companies SELECT DISTINCT `name` FROM `Companies`
company_office Companies SELECT DISTINCT `id` FROM `Companies`
company_office Companies SELECT DISTINCT `Assets_billion` FROM `Companies`
company_office Companies SELECT DISTINCT `Profits_billion` FROM `Companies`
company_office Companies SELECT DISTINCT `Market_Value_billion` FROM `Companies`
company_office Companies SELECT DISTINCT `Headquarters` FROM `Companies`
company_office Companies SELECT DISTINCT `Industry` FROM `Companies`
company_office Companies SELECT DISTINCT `Sales_billion` FROM `Companies`
county_public_safety county_public_safety SELECT DISTINCT `Name` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Police_force` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Residents_per_officer` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Population` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Crime_rate` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `County_ID` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Location` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Case_burden` FROM `county_public_safety`
county_public_safety county_public_safety SELECT DISTINCT `Police_officers` FROM `county_public_safety`
county_public_safety city SELECT DISTINCT `Name` FROM `city`
county_public_safety city SELECT DISTINCT `Black` FROM `city`
county_public_safety city SELECT DISTINCT `Amerindian` FROM `city`
county_public_safety city SELECT DISTINCT `City_ID` FROM `city`
county_public_safety city SELECT DISTINCT `Hispanic` FROM `city`
county_public_safety city SELECT DISTINCT `Multiracial` FROM `city`
county_public_safety city SELECT DISTINCT `Asian` FROM `city`
county_public_safety city SELECT DISTINCT `County_ID` FROM `city`
county_public_safety city SELECT DISTINCT `White` FROM `city`
dog_kennels Breeds SELECT DISTINCT `breed_code` FROM `Breeds`
dog_kennels Breeds SELECT DISTINCT `breed_name` FROM `Breeds`
dog_kennels Charges SELECT DISTINCT `charge_id` FROM `Charges`
dog_kennels Charges SELECT DISTINCT `charge_type` FROM `Charges`
dog_kennels Charges SELECT DISTINCT `charge_amount` FROM `Charges`
dog_kennels Sizes SELECT DISTINCT `size_code` FROM `Sizes`
dog_kennels Sizes SELECT DISTINCT `size_description` FROM `Sizes`
dog_kennels Treatment_Types SELECT DISTINCT `treatment_type_description` FROM `Treatment_Types`
dog_kennels Treatment_Types SELECT DISTINCT `treatment_type_code` FROM `Treatment_Types`
dog_kennels Owners SELECT DISTINCT `owner_id` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `first_name` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `cell_number` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `email_address` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `state` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `zip_code` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `home_phone` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `last_name` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `city` FROM `Owners`
dog_kennels Owners SELECT DISTINCT `street` FROM `Owners`
dog_kennels Dogs SELECT DISTINCT `name` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `owner_id` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `age` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `date_departed` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `date_adopted` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `size_code` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `date_arrived` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `breed_code` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `gender` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `dog_id` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `date_of_birth` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `abandoned_yn` FROM `Dogs`
dog_kennels Dogs SELECT DISTINCT `weight` FROM `Dogs`
dog_kennels Professionals SELECT DISTINCT `first_name` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `cell_number` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `role_code` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `email_address` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `state` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `zip_code` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `home_phone` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `professional_id` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `last_name` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `city` FROM `Professionals`
dog_kennels Professionals SELECT DISTINCT `street` FROM `Professionals`
dog_kennels Treatments SELECT DISTINCT `date_of_treatment` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `cost_of_treatment` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `treatment_id` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `dog_id` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `treatment_type_code` FROM `Treatments`
dog_kennels Treatments SELECT DISTINCT `professional_id` FROM `Treatments`
network_1 Highschooler SELECT DISTINCT `name` FROM `Highschooler`
network_1 Highschooler SELECT DISTINCT `grade` FROM `Highschooler`
network_1 Highschooler SELECT DISTINCT `ID` FROM `Highschooler`
network_1 Friend SELECT DISTINCT `friend_id` FROM `Friend`
network_1 Friend SELECT DISTINCT `student_id` FROM `Friend`
network_1 Likes SELECT DISTINCT `liked_id` FROM `Likes`
network_1 Likes SELECT DISTINCT `student_id` FROM `Likes`
entertainment_awards festival_detail SELECT DISTINCT `Year` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Chair_Name` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Festival_Name` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Festival_ID` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Location` FROM `festival_detail`
entertainment_awards festival_detail SELECT DISTINCT `Num_of_Audience` FROM `festival_detail`
entertainment_awards artwork SELECT DISTINCT `Type` FROM `artwork`
entertainment_awards artwork SELECT DISTINCT `Name` FROM `artwork`
entertainment_awards artwork SELECT DISTINCT `Artwork_ID` FROM `artwork`
customer_deliveries Products SELECT DISTINCT `product_description` FROM `Products`
customer_deliveries Products SELECT DISTINCT `product_id` FROM `Products`
customer_deliveries Products SELECT DISTINCT `product_name` FROM `Products`
customer_deliveries Products SELECT DISTINCT `product_price` FROM `Products`
customer_deliveries Addresses SELECT DISTINCT `zip_postcode` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `address_id` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `country` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `address_details` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `state_province_county` FROM `Addresses`
customer_deliveries Addresses SELECT DISTINCT `city` FROM `Addresses`
customer_deliveries Customers SELECT DISTINCT `customer_id` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `customer_name` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `customer_email` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `payment_method` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `date_became_customer` FROM `Customers`
customer_deliveries Customers SELECT DISTINCT `customer_phone` FROM `Customers`
customer_deliveries Regular_Orders SELECT DISTINCT `distributer_id` FROM `Regular_Orders`
customer_deliveries Regular_Orders SELECT DISTINCT `regular_order_id` FROM `Regular_Orders`
customer_deliveries Actual_Orders SELECT DISTINCT `actual_order_id` FROM `Actual_Orders`
customer_deliveries Actual_Orders SELECT DISTINCT `order_status_code` FROM `Actual_Orders`
customer_deliveries Actual_Orders SELECT DISTINCT `actual_order_date` FROM `Actual_Orders`
customer_deliveries Actual_Orders SELECT DISTINCT `regular_order_id` FROM `Actual_Orders`
customer_deliveries Delivery_Routes SELECT DISTINCT `route_id` FROM `Delivery_Routes`
customer_deliveries Delivery_Routes SELECT DISTINCT `route_name` FROM `Delivery_Routes`
customer_deliveries Delivery_Routes SELECT DISTINCT `other_route_details` FROM `Delivery_Routes`
customer_deliveries Delivery_Route_Locations SELECT DISTINCT `route_id` FROM `Delivery_Route_Locations`
customer_deliveries Delivery_Route_Locations SELECT DISTINCT `location_code` FROM `Delivery_Route_Locations`
customer_deliveries Delivery_Route_Locations SELECT DISTINCT `location_address_id` FROM `Delivery_Route_Locations`
customer_deliveries Delivery_Route_Locations SELECT DISTINCT `location_name` FROM `Delivery_Route_Locations`
customer_deliveries Trucks SELECT DISTINCT `truck_id` FROM `Trucks`
customer_deliveries Trucks SELECT DISTINCT `truck_details` FROM `Trucks`
customer_deliveries Trucks SELECT DISTINCT `truck_licence_number` FROM `Trucks`
customer_deliveries Employees SELECT DISTINCT `employee_name` FROM `Employees`
customer_deliveries Employees SELECT DISTINCT `employee_address_id` FROM `Employees`
customer_deliveries Employees SELECT DISTINCT `employee_phone` FROM `Employees`
customer_deliveries Employees SELECT DISTINCT `employee_id` FROM `Employees`
customer_deliveries Order_Deliveries SELECT DISTINCT `delivery_status_code` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `truck_id` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `location_code` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `delivery_date` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `actual_order_id` FROM `Order_Deliveries`
customer_deliveries Order_Deliveries SELECT DISTINCT `driver_employee_id` FROM `Order_Deliveries`
flight_2 airlines SELECT DISTINCT `Country` FROM `airlines`
flight_2 airlines SELECT DISTINCT `uid` FROM `airlines`
flight_2 airlines SELECT DISTINCT `Airline` FROM `airlines`
flight_2 airlines SELECT DISTINCT `Abbreviation` FROM `airlines`
flight_2 airports SELECT DISTINCT `Country` FROM `airports`
flight_2 airports SELECT DISTINCT `City` FROM `airports`
flight_2 airports SELECT DISTINCT `CountryAbbrev` FROM `airports`
flight_2 airports SELECT DISTINCT `AirportCode` FROM `airports`
flight_2 airports SELECT DISTINCT `AirportName` FROM `airports`
flight_2 flights SELECT DISTINCT `FlightNo` FROM `flights`
flight_2 flights SELECT DISTINCT `SourceAirport` FROM `flights`
flight_2 flights SELECT DISTINCT `Airline` FROM `flights`
flight_2 flights SELECT DISTINCT `DestAirport` FROM `flights`
csu_1 Campuses SELECT DISTINCT `County` FROM `Campuses`
csu_1 Campuses SELECT DISTINCT `Id` FROM `Campuses`
csu_1 Campuses SELECT DISTINCT `Location` FROM `Campuses`
csu_1 Campuses SELECT DISTINCT `Campus` FROM `Campuses`
csu_1 Campuses SELECT DISTINCT `Year` FROM `Campuses`
csu_1 csu_fees SELECT DISTINCT `CampusFee` FROM `csu_fees`
csu_1 csu_fees SELECT DISTINCT `Campus` FROM `csu_fees`
csu_1 csu_fees SELECT DISTINCT `Year` FROM `csu_fees`
csu_1 degrees SELECT DISTINCT `Degrees` FROM `degrees`
csu_1 degrees SELECT DISTINCT `Campus` FROM `degrees`
csu_1 degrees SELECT DISTINCT `Year` FROM `degrees`
csu_1 discipline_enrollments SELECT DISTINCT `Undergraduate` FROM `discipline_enrollments`
csu_1 discipline_enrollments SELECT DISTINCT `Discipline` FROM `discipline_enrollments`
csu_1 discipline_enrollments SELECT DISTINCT `Graduate` FROM `discipline_enrollments`
csu_1 discipline_enrollments SELECT DISTINCT `Campus` FROM `discipline_enrollments`
csu_1 discipline_enrollments SELECT DISTINCT `Year` FROM `discipline_enrollments`
csu_1 enrollments SELECT DISTINCT `FTE_AY` FROM `enrollments`
csu_1 enrollments SELECT DISTINCT `TotalEnrollment_AY` FROM `enrollments`
csu_1 enrollments SELECT DISTINCT `Campus` FROM `enrollments`
csu_1 enrollments SELECT DISTINCT `Year` FROM `enrollments`
csu_1 faculty SELECT DISTINCT `Faculty` FROM `faculty`
csu_1 faculty SELECT DISTINCT `Campus` FROM `faculty`
csu_1 faculty SELECT DISTINCT `Year` FROM `faculty`
voter_2 Student SELECT DISTINCT `Age` FROM `Student`
voter_2 Student SELECT DISTINCT `Fname` FROM `Student`
voter_2 Student SELECT DISTINCT `city_code` FROM `Student`
voter_2 Student SELECT DISTINCT `LName` FROM `Student`
voter_2 Student SELECT DISTINCT `Advisor` FROM `Student`
voter_2 Student SELECT DISTINCT `Major` FROM `Student`
voter_2 Student SELECT DISTINCT `Sex` FROM `Student`
voter_2 Student SELECT DISTINCT `StuID` FROM `Student`
voter_2 Voting_record SELECT DISTINCT `Class_Senator_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Treasurer_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Election_Cycle` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `StuID` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Registration_Date` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Secretary_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Class_President_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `President_Vote` FROM `Voting_record`
voter_2 Voting_record SELECT DISTINCT `Vice_President_Vote` FROM `Voting_record`
flight_1 flight SELECT DISTINCT `departure_date` FROM `flight`
flight_1 flight SELECT DISTINCT `price` FROM `flight`
flight_1 flight SELECT DISTINCT `flno` FROM `flight`
flight_1 flight SELECT DISTINCT `aid` FROM `flight`
flight_1 flight SELECT DISTINCT `distance` FROM `flight`
flight_1 flight SELECT DISTINCT `origin` FROM `flight`
flight_1 flight SELECT DISTINCT `destination` FROM `flight`
flight_1 flight SELECT DISTINCT `arrival_date` FROM `flight`
flight_1 aircraft SELECT DISTINCT `name` FROM `aircraft`
flight_1 aircraft SELECT DISTINCT `aid` FROM `aircraft`
flight_1 aircraft SELECT DISTINCT `distance` FROM `aircraft`
flight_1 employee SELECT DISTINCT `name` FROM `employee`
flight_1 employee SELECT DISTINCT `eid` FROM `employee`
flight_1 employee SELECT DISTINCT `salary` FROM `employee`
battle_death battle SELECT DISTINCT `name` FROM `battle`
battle_death battle SELECT DISTINCT `id` FROM `battle`
battle_death battle SELECT DISTINCT `latin_commander` FROM `battle`
battle_death battle SELECT DISTINCT `bulgarian_commander` FROM `battle`
battle_death battle SELECT DISTINCT `date` FROM `battle`
battle_death battle SELECT DISTINCT `result` FROM `battle`
battle_death ship SELECT DISTINCT `name` FROM `ship`
battle_death ship SELECT DISTINCT `id` FROM `ship`
battle_death ship SELECT DISTINCT `tonnage` FROM `ship`
battle_death ship SELECT DISTINCT `lost_in_battle` FROM `ship`
battle_death ship SELECT DISTINCT `ship_type` FROM `ship`
battle_death ship SELECT DISTINCT `disposition_of_ship` FROM `ship`
battle_death ship SELECT DISTINCT `location` FROM `ship`
battle_death death SELECT DISTINCT `id` FROM `death`
battle_death death SELECT DISTINCT `caused_by_ship_id` FROM `death`
battle_death death SELECT DISTINCT `killed` FROM `death`
battle_death death SELECT DISTINCT `note` FROM `death`
battle_death death SELECT DISTINCT `injured` FROM `death`
match_season country SELECT DISTINCT `Country_id` FROM `country`
match_season country SELECT DISTINCT `Official_native_language` FROM `country`
match_season country SELECT DISTINCT `Country_name` FROM `country`
match_season country SELECT DISTINCT `Capital` FROM `country`
match_season team SELECT DISTINCT `Name` FROM `team`
match_season team SELECT DISTINCT `Team_id` FROM `team`
match_season match_season SELECT DISTINCT `Country` FROM `match_season`
match_season match_season SELECT DISTINCT `Team` FROM `match_season`
match_season match_season SELECT DISTINCT `Player` FROM `match_season`
match_season match_season SELECT DISTINCT `Draft_Pick_Number` FROM `match_season`
match_season match_season SELECT DISTINCT `Season` FROM `match_season`
match_season match_season SELECT DISTINCT `College` FROM `match_season`

In [4]:

len(sorted_schema)

155

In [5]:
sorted_schema

{'flight_company': {'db_id': 'flight_company',
  'tag_names_original': ['airport', 'operate_company', 'flight'],
  'tag_names': [':`flight_company.airport`',
   ':`flight_company.operate_company`',
   ':`flight_company.flight`'],
  'property_names': [(-1, '*'),
   (0, 'name'),
   (0, 'IATA'),
   (0, 'Country'),
   (0, 'ICAO'),
   (0, 'id'),
   (0, 'City'),
   (1, 'name'),
   (1, 'id'),
   (1, 'Type'),
   (1, 'Principal_activities'),
   (1, 'Incorporated_in'),
   (1, 'Group_Equity_Shareholding'),
   (2, 'id'),
   (2, 'Pilot'),
   (2, 'airport_id'),
   (2, 'company_id'),
   (2, 'Vehicle_Flight_number'),
   (2, 'Velocity'),
   (2, 'Date'),
   (2, 'Altitude')],
  'property_types': ['String',
   'String',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'String',
   'Double',
   'Long',
   'String',
   'Long',
   'Long',
   'String',
   'Double',
   'String',
   'Double'],
  'airport': {'name': ['Billund Airport',
    'Bergen Airport',
    'Ted Stevens Airport',
    'Akureyri Airport',
    'El Prat Airport',
    'Logan International Airport',
    'Baltimore-Washington Airport',
    'National Airport',
    'Schiphol Airport'],
   'IATA': ['BLL', 'AMS', 'BCN', 'BWI', 'AEY', 'BGO', 'BOS', 'BRU', 'ANC'],
   'Country': ['Belgium',
    'Netherlands',
    'Norway',
    'United States',
    'Spain',
    'Iceland',
    'Denmark'],
   'ICAO': ['EKBI',
    'EHAM',
    'KBWI',
    'EBBR',
    'PANC',
    'LEBL',
    'KBOS',
    'ENBR',
    'BIAR'],
   'id': [1, 2, 3, 4, 5, 6, 7, 8, 9],
   'City': ['Bergen',
    'Anchorage',
    'Boston',
    'Amsterdam',
    'Akureyri',
    'Billund',
    'Baltimore',
    'Barcelona',
    'Brussels']},
  'operate_company': {'name': ['Air China',
    'Hong Kong Airport Services',
    'Vogue Laundry Service Limited',
    'Cathay Pacific Catering Services (HK) Limited',
    'Cathay Pacific Cargo',
    'Cathay Pacific Services Limited',
    'Air Hong Kong',
    'Air China Cargo',
    'CLS Catering Services Limited',
    'Cathay Pacific Holidays',
    'Dragonair Holidays',
    'China Pacific Laundry Services',
    'VN/CX Catering Services Limited',
    'Dragonair'],
   'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
   'Type': ['Joint Venture', 'Subsidiary', 'Corporate'],
   'Principal_activities': ['Cargo',
    'Ground handling',
    'Cargo airline',
    'Catering services',
    'Travel agency',
    'Airline',
    'Laundry'],
   'Incorporated_in': ['Taiwan', 'Vietnam', 'Canada', 'Hong Kong', 'China'],
   'Group_Equity_Shareholding': [100.0, 40.0, 45.0, 49.0, 18.77, 60.0, 30.0]},
  'flight': {'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
   'Pilot': ['Thompson', 'Peterson'],
   'airport_id': [1, 2, 3, 4, 5, 6, 8, 9],
   'company_id': [1, 2, 3, 4, 5, 6, 7, 9, 11, 13],
   'Vehicle_Flight_number': ['M2-F1 #21',
    'M2-F1 #13',
    'M2-F1 #71',
    'M2-F1 #14',
    'M2-F1 #39',
    'M2-F1 #6',
    'M2-F1 #61',
    'M2-F1 #64',
    'M2-F1 #1',
    'M2-F1 #0',
    'M2-F1 #33',
    'M2-F1 #70',
    'M2-F1 #73'],
   'Velocity': [240.0, 135.0],
   'Date': ['November 8, 1963',
    'October 25, 1963',
    'March 28, 1966',
    'August 30, 1965',
    'January 29, 1964',
    'August 4, 1966',
    'September 3, 1963',
    'October 8, 1965',
    'March 1, 1963',
    'March 30, 1964',
    'May 19, 1964',
    'July 16, 1965',
    'August 16, 1963'],
   'Altitude': [0.0, 3650.0]}},
 'employee_hire_evaluation': {'db_id': 'employee_hire_evaluation',
  'tag_names_original': ['employee', 'shop', 'hiring', 'evaluation'],
  'tag_names': [':`employee_hire_evaluation.employee`',
   ':`employee_hire_evaluation.shop`',
   ':`employee_hire_evaluation.hiring`',
   ':`employee_hire_evaluation.evaluation`'],
  'property_names': [(-1, '*'),
   (0, 'City'),
   (0, 'Employee_ID'),
   (0, 'Age'),
   (0, 'Name'),
   (1, 'Name'),
   (1, 'Manager_name'),
   (1, 'Number_products'),
   (1, 'Shop_ID'),
   (1, 'Location'),
   (1, 'District'),
   (2, 'Employee_ID'),
   (2, 'Start_from'),
   (2, 'Is_full_time'),
   (2, 'Shop_ID'),
   (3, 'Employee_ID'),
   (3, 'Year_awarded'),
   (3, 'Bonus')],
  'property_types': ['String',
   'Long',
   'Long',
   'String',
   'String',
   'String',
   'Long',
   'Long',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'Double'],
  'employee': {'City': ['Bath', 'Leicester', 'Wasps', 'Bristol', 'Sale'],
   'Employee_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   'Age': [32, 36, 40, 43, 23, 28, 29, 30],
   'Name': ['Jason Hobson',
    'Phil Vickery',
    'Louis Deacon',
    'Mark Regan',
    'George Chuter',
    'Steve Borthwick',
    'Lee Mears',
    'Andrew Sheridan',
    'Tim Payne',
    'Matt Stevens']},
  'shop': {'Name': ['IFK Mariehamn',
    'HJK',
    'FC Haka',
    'FF Jaro',
    'KuPS',
    'FC Inter',
    'FC Lahti',
    'FC Honka',
    'FC KooTeePee'],
   'Manager_name': ['Tommi Kautonen',
    'Kai Nyyssönen',
    'Mika Laurikainen',
    'Job Dragtsma',
    'Pekka Lyyski',
    'Mika Lehkosuo',
    'Antti Muurinen',
    'Ilkka Mäkelä',
    'Olli Huttunen'],
   'Number_products': [1600,
    5000,
    4780,
    3500,
    6000,
    10000,
    10770,
    15000,
    3516],
   'Shop_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9],
   'Location': ['Kotka',
    'Lahti',
    'Espoo',
    'Jakobstad',
    'Valkeakoski',
    'Turku',
    'Kuopio',
    'Helsinki',
    'Mariehamn'],
   'District': ['Magnum Areena',
    'Lahden Stadion',
    'Jakobstads Centralplan',
    'Arto Tolsa Areena',
    'Tapiolan Urheilupuisto',
    'Finnair Stadium',
    'Wiklöf Holding Arena',
    'Veritas Stadion',
    'Tehtaan kenttä']},
  'hiring': {'Employee_ID': [1, 2, 3, 4, 5, 6, 7],
   'Start_from': ['2009', '2012', '2010', '2011', '2008', '2013', '2003'],
   'Is_full_time': ['F', 'T'],
   'Shop_ID': [1, 2, 4, 5, 6, 8]},
  'evaluation': {'Employee_ID': ['1', '7', '4', '10', '2'],
   'Year_awarded': ['2016', '2018', '2015', '2011', '2017'],
   'Bonus': [3000.0, 2900.0, 3200.0, 4000.0]}},
 'train_station': {'db_id': 'train_station',
  'tag_names_original': ['station', 'train', 'train_station'],
  'tag_names': [':`train_station.station`',
   ':`train_station.train`',
   ':`train_station.train_station`'],
  'property_names': [(-1, '*'),
   (0, 'Name'),
   (0, 'Annual_entry_exit'),
   (0, 'Location'),
   (0, 'Annual_interchanges'),
   (0, 'Main_Services'),
   (0, 'Station_ID'),
   (0, 'Number_of_Platforms'),
   (0, 'Total_Passengers'),
   (1, 'Name'),
   (1, 'Train_ID'),
   (1, 'Time'),
   (1, 'Service'),
   (2, None)],
  'property_types': ['String',
   'Double',
   'String',
   'Double',
   'String',
   'Long',
   'Long',
   'Double',
   'String',
   'Long',
   'String',
   'String',
   None],
  'station': {'Name': ['London Bridge',
    'Glasgow Central',
    'East Croydon',
    'Stratford',
    'London Charing Cross',
    'London Euston',
    'London Liverpool Street',
    'London Waterloo',
    'London St Pancras',
    "London King's Cross",
    'London Victoria',
    'Birmingham New Street'],
   'Annual_entry_exit': [36.609,
    38.005,
    76.231,
    52.634,
    20.551,
    22.996,
    21.797,
    57.107,
    26.639,
    27.875,
    94.046,
    31.214],
   'Location': ['Birmingham', 'Glasgow', 'London'],
   'Annual_interchanges': [1.99,
    2.353,
    3.832,
    3.022,
    5.118,
    3.018,
    6.341,
    8.742,
    9.489,
    9.157,
    3.676,
    2.064],
   'Main_Services': ['West Coast Main Line Cross Country Route',
    'Great Eastern Main Line West Anglia Main Line',
    'South Eastern Main Line',
    'West Coast Main Line',
    'Great Eastern Main Line Lea Valley Lines',
    'South Western Main Line West of England Main Line',
    'East Coast Main Line',
    'South Eastern Main Line Thameslink',
    'Midland Main Line Thameslink High-Speed 1 Eurostar',
    'Brighton Main Line Chatham Main Line',
    'Brighton Main Line'],
   'Station_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
   'Number_of_Platforms': [6, 12, 13, 15, 17, 18, 19],
   'Total_Passengers': [26.672,
    36.331,
    103.534,
    40.44,
    39.995,
    29.658,
    85.38,
    23.862,
    26.892,
    59.46,
    61.376,
    30.896]},
  'train': {'Name': ['Guruvayur Express',
    'Parasuram Express',
    'Jayanthi Janatha Express',
    'Island Express',
    'Madurai Fast Passenger',
    'Ananthapuri Express',
    'Quilon Fast Passenger'],
   'Train_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
   'Time': ['22:10',
    '04:20',
    '10:38',
    '11:35',
    '11:15',
    '04:55',
    '17:15',
    '21:49',
    '4:49',
    '06:30',
    '16:59'],
   'Service': ['Daily']},
  'train_station': {}},
 'company_office': {'db_id': 'company_office',
  'tag_names_original': ['buildings', 'Companies', 'Office_locations'],
  'tag_names': [':`company_office.buildings`',
   ':`company_office.Companies`',
   ':`company_office.Office_locations`'],
  'property_names': [(-1, '*'),
   (0, 'name'),
   (0, 'id'),
   (0, 'City'),
   (0, 'Status'),
   (0, 'Stories'),
   (0, 'Height'),
   (1, 'name'),
   (1, 'id'),
   (1, 'Assets_billion'),
   (1, 'Profits_billion'),
   (1, 'Market_Value_billion'),
   (1, 'Headquarters'),
   (1, 'Industry'),
   (1, 'Sales_billion'),
   (2, 'move_in_year')],
  'property_types': ['String',
   'Long',
   'String',
   'String',
   'Long',
   'Long',
   'String',
   'Long',
   'Double',
   'Double',
   'String',
   'String',
   'String',
   'Double',
   'Long'],
  'buildings': {'name': ['LIU East',
    'Reforma 90',
    'Residencial Vidalta Torre Altaire 3',
    'Torre Mitikah',
    'Corporativo BBVA Bancomer',
    'Punto Chapultepec',
    'Torre New York Life',
    'Torre Reforma',
    'Torre KOI',
    'Ritz-Carlton Mexico City',
    'Residencial Vidalta Torre Altaire 2',
    'Reforma 432'],
   'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
   'City': ['Mexico City', 'Monterrey'],
   'Status': ['proposed', 'under construction', 'on-hold'],
   'Stories': [34, 67, 100, 6, 42, 44, 50, 20, 57, 59, 60],
   'Height': [100, 200, 73, 330, 300, 210, 50, 150, 220]},
  'Companies': {'name': ['Citigroup',
    'Santander Group',
    'BNP Paribas',
    'Wells Fargo',
    'Berkshire Hathaway',
    'ExxonMobil',
    'AT&T Inc.',
    'General Electric',
    'Walmart',
    'HSBC',
    'JPMorgan Chase',
    'PetroChina',
    'Industrial and Commercial Bank of China',
    'Chevron',
    'Petrobras',
    'Royal Dutch Shell',
    'Total',
    'Gazprom',
    'China Construction Bank'],
   'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
   'Assets_billion': [1408.0,
    268.5,
    275.9,
    1570.6,
    2467.9,
    302.5,
    180.7,
    184.8,
    313.2,
    1723.5,
    317.2,
    192.8,
    2117.6,
    1258.1,
    751.2,
    372.2,
    2680.7,
    1913.9,
    251.3],
   'Profits_billion': [14.2,
    10.6,
    11.6,
    10.5,
    13.3,
    13.0,
    12.4,
    12.8,
    17.4,
    18.8,
    19.9,
    20.1,
    21.2,
    19.0,
    15.6,
    16.4,
    25.7,
    30.5],
   'Market_Value_billion': ['138',
    '186.5',
    '224.8',
    '132.8',
    '239.5',
    '88',
    '407.2',
    '168.2',
    '200.6',
    '182.2',
    '94.7',
    '187.3',
    '320.8',
    '172.9',
    '211',
    '216.2',
    '170.6',
    '212.9',
    '238.8'],
   'Headquarters': ['UK',
    'Russia',
    'France',
    'Brazil',
    'USA',
    'Netherlands',
    'Spain',
    'China'],
   'Industry': ['Retailing',
    'Oil and gas',
    'Telecommunications',
    'Conglomerate',
    'Banking'],
   'Sales_billion': [130.4,
    136.2,
    156.2,
    421.8,
    58.2,
    188.1,
    189.6,
    69.2,
    341.6,
    93.2,
    222.3,
    98.7,
    103.3,
    109.7,
    111.5,
    369.1,
    115.5,
    121.3,
    124.3]},
  'Office_locations': {'move_in_year': [2019,
    2020,
    2021,
    2022,
    2023,
    2024,
    2025,
    2026,
    2027,
    2028,
    2029,
    2031]}},
 'county_public_safety': {'db_id': 'county_public_safety',
  'tag_names_original': ['county_public_safety',
   'city',
   'county_public_safety_HAS_county_public_safety'],
  'tag_names': [':`county_public_safety.county_public_safety`',
   ':`county_public_safety.city`',
   ':`county_public_safety.county_public_safety_HAS_county_public_safety.city`'],
  'property_names': [(-1, '*'),
   (0, 'Name'),
   (0, 'Police_force'),
   (0, 'Residents_per_officer'),
   (0, 'Population'),
   (0, 'Crime_rate'),
   (0, 'County_ID'),
   (0, 'Location'),
   (0, 'Case_burden'),
   (0, 'Police_officers'),
   (1, 'Name'),
   (1, 'Black'),
   (1, 'Amerindian'),
   (1, 'City_ID'),
   (1, 'Hispanic'),
   (1, 'Multiracial'),
   (1, 'Asian'),
   (1, 'County_ID'),
   (1, 'White'),
   (2, None)],
  'property_types': ['String',
   'String',
   'Long',
   'Long',
   'Double',
   'Long',
   'String',
   'Long',
   'Long',
   'String',
   'Double',
   'Double',
   'Long',
   'Double',
   'Double',
   'Double',
   'Long',
   'Double',
   None],
  'county_public_safety': {'Name': ['Campbell River',
    'Castlegar',
    'Chilliwack',
    'Burnaby',
    'Abbotsford',
    'Central Saanich'],
   'Police_force': ['RCMP',
    'Central Saanich Police',
    'Abbotsford Police Department'],
   'Residents_per_officer': [801, 770, 803, 711, 808, 685],
   'Population': [204320, 128165, 73066, 7821, 16821, 30810],
   'Crime_rate': [174.0, 49.0, 178.0, 150.0, 118.0, 123.0],
   'County_ID': [1, 2, 3, 4, 5, 6],
   'Location': ['West', 'North', 'East'],
   'Case_burden': [100, 39, 137, 107, 140, 81],
   'Police_officers': [40, 91, 11, 21, 187, 253]},
  'city': {'Name': ['Aguada',
    'Arroyo',
    'Aguadilla',
    'Aibonito',
    'Añasco',
    'Aguas Buenas',
    'Bayamón',
    'Canóvanas',
    'Adjuntas',
    'Barranquitas',
    'Arecibo',
    'Caguas',
    'Barceloneta',
    'Cabo Rojo',
    'Camuy',
    'Carolina',
    'Cataño'],
   'Black': [32.5,
    3.1,
    4.1,
    5.3,
    6.1,
    7.3,
    7.4,
    7.2,
    7.6,
    5.4,
    12.6,
    10.3,
    11.0,
    14.4,
    21.6,
    22.8],
   'Amerindian': [0.3, 0.6, 0.2, 0.9, 0.4, 1.0],
   'City_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
   'Hispanic': [98.5, 99.4, 99.5, 99.6, 99.3, 99.2, 99.1, 99.0, 98.9, 98.6],
   'Multiracial': [3.4,
    7.6,
    7.7,
    8.2,
    9.0,
    10.3,
    7.9,
    11.2,
    13.0,
    14.2,
    8.3,
    10.7,
    10.1,
    12.1,
    16.1,
    11.7,
    13.7],
   'Asian': [0.0, 0.4, 0.1, 0.3, 0.2],
   'County_ID': [1, 2, 3, 4, 5, 6],
   'White': [64.3,
    70.7,
    72.5,
    76.1,
    78.3,
    80.7,
    82.0,
    83.5,
    83.0,
    84.5,
    86.6,
    53.5,
    86.0,
    84.1,
    87.9,
    61.2,
    93.1]},
  'county_public_safety_HAS_county_public_safety': {}},
 'dog_kennels': {'db_id': 'dog_kennels',
  'tag_names_original': ['Breeds',
   'Charges',
   'Sizes',
   'Treatment_Types',
   'Owners',
   'Dogs',
   'Professionals',
   'Treatments',
   'Owners_HAS_dog_kennels',
   'Sizes_HAS_dog_kennels',
   'Breeds_HAS_dog_kennels',
   'Dogs_HAS_dog_kennels',
   'Professionals_HAS_dog_kennels',
   'Treatment_Types_HAS_dog_kennels'],
  'tag_names': [':`dog_kennels.Breeds`',
   ':`dog_kennels.Charges`',
   ':`dog_kennels.Sizes`',
   ':`dog_kennels.Treatment_Types`',
   ':`dog_kennels.Owners`',
   ':`dog_kennels.Dogs`',
   ':`dog_kennels.Professionals`',
   ':`dog_kennels.Treatments`',
   ':`dog_kennels.Owners_HAS_dog_kennels.Dogs`',
   ':`dog_kennels.Sizes_HAS_dog_kennels.Dogs`',
   ':`dog_kennels.Breeds_HAS_dog_kennels.Dogs`',
   ':`dog_kennels.Dogs_HAS_dog_kennels.Treatments`',
   ':`dog_kennels.Professionals_HAS_dog_kennels.Treatments`',
   ':`dog_kennels.Treatment_Types_HAS_dog_kennels.Treatments`'],
  'property_names': [(-1, '*'),
   (0, 'breed_code'),
   (0, 'breed_name'),
   (1, 'charge_id'),
   (1, 'charge_type'),
   (1, 'charge_amount'),
   (2, 'size_code'),
   (2, 'size_description'),
   (3, 'treatment_type_description'),
   (3, 'treatment_type_code'),
   (4, 'owner_id'),
   (4, 'first_name'),
   (4, 'cell_number'),
   (4, 'email_address'),
   (4, 'state'),
   (4, 'zip_code'),
   (4, 'home_phone'),
   (4, 'last_name'),
   (4, 'city'),
   (4, 'street'),
   (5, 'name'),
   (5, 'owner_id'),
   (5, 'age'),
   (5, 'date_departed'),
   (5, 'date_adopted'),
   (5, 'size_code'),
   (5, 'date_arrived'),
   (5, 'breed_code'),
   (5, 'gender'),
   (5, 'dog_id'),
   (5, 'date_of_birth'),
   (5, 'abandoned_yn'),
   (5, 'weight'),
   (6, 'first_name'),
   (6, 'cell_number'),
   (6, 'role_code'),
   (6, 'email_address'),
   (6, 'state'),
   (6, 'zip_code'),
   (6, 'home_phone'),
   (6, 'professional_id'),
   (6, 'last_name'),
   (6, 'city'),
   (6, 'street'),
   (7, 'date_of_treatment'),
   (7, 'cost_of_treatment'),
   (7, 'treatment_id'),
   (7, 'dog_id'),
   (7, 'treatment_type_code'),
   (7, 'professional_id'),
   (8, None),
   (9, None),
   (10, None),
   (11, None),
   (12, None),
   (13, None)],
  'property_types': ['String',
   'String',
   'Long',
   'String',
   'Long',
   'String',
   'String',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'String',
   'String',
   'Long',
   'Long',
   'Long',
   'String',
   'Long',
   None,
   None,
   None,
   None,
   None,
   None],
  'Breeds': {'breed_code': ['HUS', 'ESK', 'BUL'],
   'breed_name': ['Eskimo', 'Husky', 'Bulldog']},
  'Charges': {'charge_id': [1, 2, 3],
   'charge_type': ['Drugs', 'Daily Accommodation', 'Health Check'],
   'charge_amount': [640, 98, 322]},
  'Sizes': {'size_code': ['SML', 'MED', 'LGE'],
   'size_description': ['Small', 'Large', 'Medium']},
  'Treatment_Types': {'treatment_type_description': ['Take for a Walk',
    'Physical examination',
    'Vaccination'],
   'treatment_type_code': ['WALK', 'VAC', 'EXAM']},
  'Owners': {'owner_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
   'first_name': ['Cindy',
    'Jaclyn',
    'Emelie',
    'Gay',
    'Rolando',
    'Johann',
    'Orlando',
    'Rachelle',
    'Kade',
    'Melisa',
    'Heather',
    'Nora',
    'Tre',
    'Lorenz',
    'Adelle'],
   'cell_number': ['481-483-9083x37986',
    '+70(4)9217952551',
    '(783)271-6744x4507',
    '478.978.0729',
    '1-739-421-2225x38148',
    '739-136-7202',
    '1-626-264-7659x1697',
    '633.455.3045x85484',
    '341.667.8085',
    '(722)768-5439x484',
    '559.874.3011x989',
    '+00(2)4323592985',
    '121.381.3316x6535',
    '(257)399-3116',
    '762.589.6117x1328'],
   'email_address': ['angeline99@example.com',
    'ybergstrom@example.com',
    'wpfeffer@example.net',
    'zboncak.madonna@example.net',
    'margaretta.runte@example.net',
    'ykris@example.com',
    'lynn81@example.org',
    'pearlie18@example.com',
    'edythe62@example.org',
    'marks.gail@example.org',
    'fschoen@example.net',
    'kturner@example.net',
    'christy49@example.org',
    'hudson.favian@example.com',
    'ymaggio@example.com'],
   'state': ['Vermont',
    'Virginia',
    'Maryland',
    'Indiana',
    'NewYork',
    'Pennsylvania',
    'Arkansas',
    'Wisconsin',
    'Mississippi',
    'Arizona',
    'Florida',
    'SouthDakota',
    'Washington',
    'NorthDakota'],
   'zip_code': ['00589',
    '92406',
    '78297',
    '87304',
    '02647',
    '35747',
    '22731',
    '45244',
    '22693',
    '36871',
    '11990',
    '61019',
    '93165',
    '86010',
    '25609'],
   'home_phone': ['1-332-849-1908',
    '318-052-6573',
    '(799)563-0260x454',
    '893-862-5295x61709',
    '01802479758',
    '130-796-4589x05454',
    '085.557.0379x84348',
    '(058)997-7627',
    '(544)034-1670',
    '066.264.7885',
    '1-346-655-5842x768',
    '(094)747-5094x8134',
    '916.976.9480x13851',
    '1-682-845-0116x63235',
    '363.948.1090'],
   'last_name': ['Haley',
    'Stoltenberg',
    'DuBuque',
    'Funk',
    'Ondricka',

In [6]:
import os
outfpath= os.getcwd() +  '/schema.json'
with codecs.open(outfpath, 'w', encoding='utf-8') as out:
    json.dump(sorted_schema, out, indent=4)

In [7]:
sp_data_folder =  '/home/22842219/Desktop/phd/SemanticParser4Graph/sp_data_folder'
for split in ['train.json', 'dev.json']:
    fpth = os.path.join(sp_data_folder,  split )
    print(fpth)
    reformated_data = []
    with open(fpth, 'r', encoding='utf-8-sig') as f:
        data = json.load(f)
        for every in data:
            if every['answers'] and every['answers']!=[[0]]:
                reformated = {}
                reformated['question'] = every['question']
                reformated['query'] = every['cypher_query']
                reformated['db_id'] = every['db_id']
                reformated['answers'] = every['answers']
                reformated_data.append(reformated)

        with open(split, 'w') as out:
            json.dump(reformated_data, out, indent=4)

/home/22842219/Desktop/phd/SemanticParser4Graph/sp_data_folder/train.json
/home/22842219/Desktop/phd/SemanticParser4Graph/sp_data_folder/dev.json