In [7]:
import json, codecs, os
root = '/home/22842219/Desktop/phd/SemanticParser4Graph/semantic_parser/data/'

In [8]:
nodes_fpath = os.path.join(root, 'text2cypher/raw_graph_schema/node_properties.json')
rels_fpath = os.path.join(root, 'text2cypher/raw_graph_schema/rel_properties.json')

In [9]:
sorted_schema = {} # {'a':{'b':[], 'c':[]}}
for fpath in [nodes_fpath, rels_fpath]:
    with codecs.open(fpath, 'r', 'utf-8-sig') as f:
        data = json.load(f)
        for every in data:
            if 'nodeType' in every:
                tag = every['nodeType']
            elif 'relType' in every:
                tag = every['relType']

            if tag not in sorted_schema:
                sorted_schema[tag]= {}
                sorted_schema[tag]['property_names']=[]
                sorted_schema[tag]['property_types']=[]

            sorted_schema[tag]['property_names'].append(every['propertyName'])
            if isinstance(every['propertyTypes'], list) and len(every['propertyTypes'])==1:
                sorted_schema[tag]['property_types'].append('_'.join(every['propertyTypes']))
            else:
                sorted_schema[tag]['property_types'].append(every['propertyTypes'])

In [10]:
sorted_schema

{':`flight_company.airport`': {'property_names': ['name',
   'IATA',
   'Country',
   'ICAO',
   'id',
   'City'],
  'property_types': ['String',
   'String',
   'String',
   'String',
   'Long',
   'String']},
 ':`flight_company.operate_company`': {'property_names': ['name',
   'id',
   'Type',
   'Principal_activities',
   'Incorporated_in',
   'Group_Equity_Shareholding'],
  'property_types': ['String',
   'Long',
   'String',
   'String',
   'String',
   'Double']},
 ':`flight_company.flight`': {'property_names': ['id',
   'Pilot',
   'airport_id',
   'company_id',
   'Vehicle_Flight_number',
   'Velocity',
   'Date',
   'Altitude'],
  'property_types': ['Long',
   'String',
   'Long',
   'Long',
   'String',
   'Double',
   'String',
   'Double']},
 ':`employee_hire_evaluation.employee`': {'property_names': ['City',
   'Employee_ID',
   'Age',
   'Name'],
  'property_types': ['String', 'Long', 'Long', 'String']},
 ':`employee_hire_evaluation.shop`': {'property_names': ['Name',
   'Manager_name',
   'Number_products',
   'Shop_ID',
   'Location',
   'District'],
  'property_types': ['String', 'String', 'Long', 'Long', 'String', 'String']},
 ':`employee_hire_evaluation.hiring`': {'property_names': ['Employee_ID',
   'Start_from',
   'Is_full_time',
   'Shop_ID'],
  'property_types': ['Long', 'String', 'String', 'Long']},
 ':`employee_hire_evaluation.evaluation`': {'property_names': ['Employee_ID',
   'Year_awarded',
   'Bonus'],
  'property_types': ['String', 'String', 'Double']},
 ':`train_station.station`': {'property_names': ['Name',
   'Annual_entry_exit',
   'Location',
   'Annual_interchanges',
   'Main_Services',
   'Station_ID',
   'Number_of_Platforms',
   'Total_Passengers'],
  'property_types': ['String',
   'Double',
   'String',
   'Double',
   'String',
   'Long',
   'Long',
   'Double']},
 ':`train_station.train`': {'property_names': ['Name',
   'Train_ID',
   'Time',
   'Service'],
  'property_types': ['String', 'Long', 'String', 'String']},
 ':`company_office.buildings`': {'property_names': ['name',
   'id',
   'City',
   'Status',
   'Stories',
   'Height'],
  'property_types': ['String', 'Long', 'String', 'String', 'Long', 'Long']},
 ':`company_office.Companies`': {'property_names': ['name',
   'id',
   'Assets_billion',
   'Profits_billion',
   'Market_Value_billion',
   'Headquarters',
   'Industry',
   'Sales_billion'],
  'property_types': ['String',
   'Long',
   'Double',
   'Double',
   'String',
   'String',
   'String',
   'Double']},
 ':`county_public_safety.county_public_safety`': {'property_names': ['Name',
   'Police_force',
   'Residents_per_officer',
   'Population',
   'Crime_rate',
   'County_ID',
   'Location',
   'Case_burden',
   'Police_officers'],
  'property_types': ['String',
   'String',
   'Long',
   'Long',
   'Double',
   'Long',
   'String',
   'Long',
   'Long']},
 ':`county_public_safety.city`': {'property_names': ['Name',
   'Black',
   'Amerindian',
   'City_ID',
   'Hispanic',
   'Multiracial',
   'Asian',
   'County_ID',
   'White'],
  'property_types': ['String',
   'Double',
   'Double',
   'Long',
   'Double',
   'Double',
   'Double',
   'Long',
   'Double']},
 ':`dog_kennels.Breeds`': {'property_names': ['breed_code', 'breed_name'],
  'property_types': ['String', 'String']},
 ':`dog_kennels.Charges`': {'property_names': ['charge_id',
   'charge_type',
   'charge_amount'],
  'property_types': ['Long', 'String', 'Long']},
 ':`dog_kennels.Sizes`': {'property_names': ['size_code', 'size_description'],
  'property_types': ['String', 'String']},
 ':`dog_kennels.Treatment_Types`': {'property_names': ['treatment_type_description',
   'treatment_type_code'],
  'property_types': ['String', 'String']},
 ':`dog_kennels.Owners`': {'property_names': ['owner_id',
   'first_name',
   'cell_number',
   'email_address',
   'state',
   'zip_code',
   'home_phone',
   'last_name',
   'city',
   'street'],
  'property_types': ['Long',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String']},
 ':`dog_kennels.Dogs`': {'property_names': ['name',
   'owner_id',
   'age',
   'date_departed',
   'date_adopted',
   'size_code',
   'date_arrived',
   'breed_code',
   'gender',
   'dog_id',
   'date_of_birth',
   'abandoned_yn',
   'weight'],
  'property_types': ['String',
   'Long',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'String']},
 ':`dog_kennels.Professionals`': {'property_names': ['first_name',
   'cell_number',
   'role_code',
   'email_address',
   'state',
   'zip_code',
   'home_phone',
   'professional_id',
   'last_name',
   'city',
   'street'],
  'property_types': ['String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'Long',
   'String',
   'String',
   'String']},
 ':`dog_kennels.Treatments`': {'property_names': ['date_of_treatment',
   'cost_of_treatment',
   'treatment_id',
   'dog_id',
   'treatment_type_code',
   'professional_id'],
  'property_types': ['String', 'Long', 'Long', 'Long', 'String', 'Long']},
 ':`network_1.Highschooler`': {'property_names': ['name', 'grade', 'ID'],
  'property_types': ['String', 'Long', 'Long']},
 ':`network_1.Friend`': {'property_names': ['friend_id', 'student_id'],
  'property_types': ['Long', 'Long']},
 ':`network_1.Likes`': {'property_names': ['liked_id', 'student_id'],
  'property_types': ['Long', 'Long']},
 ':`entertainment_awards.festival_detail`': {'property_names': ['Year',
   'Chair_Name',
   'Festival_Name',
   'Festival_ID',
   'Location',
   'Num_of_Audience'],
  'property_types': ['Long', 'String', 'String', 'Long', 'String', 'Long']},
 ':`entertainment_awards.artwork`': {'property_names': ['Type',
   'Name',
   'Artwork_ID'],
  'property_types': ['String', 'String', 'Long']},
 ':`customer_deliveries.Products`': {'property_names': ['product_description',
   'product_id',
   'product_name',
   'product_price'],
  'property_types': ['String', 'Long', 'String', 'Double']},
 ':`customer_deliveries.Addresses`': {'property_names': ['zip_postcode',
   'address_id',
   'country',
   'address_details',
   'state_province_county',
   'city'],
  'property_types': ['String',
   'Long',
   'String',
   'String',
   'String',
   'String']},
 ':`customer_deliveries.Customers`': {'property_names': ['customer_id',
   'customer_name',
   'customer_email',
   'payment_method',
   'date_became_customer',
   'customer_phone'],
  'property_types': ['Long',
   'String',
   'String',
   'String',
   'String',
   'String']},
 ':`customer_deliveries.Regular_Orders`': {'property_names': ['distributer_id',
   'regular_order_id'],
  'property_types': ['Long', 'Long']},
 ':`customer_deliveries.Actual_Orders`': {'property_names': ['actual_order_id',
   'order_status_code',
   'actual_order_date',
   'regular_order_id'],
  'property_types': ['Long', 'String', 'String', 'Long']},
 ':`customer_deliveries.Delivery_Routes`': {'property_names': ['route_id',
   'route_name',
   'other_route_details'],
  'property_types': ['Long', 'String', 'String']},
 ':`customer_deliveries.Delivery_Route_Locations`': {'property_names': ['route_id',
   'location_code',
   'location_address_id',
   'location_name'],
  'property_types': ['Long', 'String', 'Long', 'String']},
 ':`customer_deliveries.Trucks`': {'property_names': ['truck_id',
   'truck_details',
   'truck_licence_number'],
  'property_types': ['Long', 'String', 'String']},
 ':`customer_deliveries.Employees`': {'property_names': ['employee_name',
   'employee_address_id',
   'employee_phone',
   'employee_id'],
  'property_types': ['String', 'Long', 'String', 'Long']},
 ':`customer_deliveries.Order_Deliveries`': {'property_names': ['delivery_status_code',
   'truck_id',
   'location_code',
   'delivery_date',
   'actual_order_id',
   'driver_employee_id'],
  'property_types': ['String', 'Long', 'String', 'String', 'Long', 'Long']},
 ':`flight_2.airlines`': {'property_names': ['Country',
   'uid',
   'Airline',
   'Abbreviation'],
  'property_types': ['String', 'Long', 'String', 'String']},
 ':`flight_2.airports`': {'property_names': ['Country',
   'City',
   'CountryAbbrev',
   'AirportCode',
   'AirportName'],
  'property_types': ['String', 'String', 'String', 'String', 'String']},
 ':`flight_2.flights`': {'property_names': ['FlightNo',
   'SourceAirport',
   'Airline',
   'DestAirport'],
  'property_types': ['Long', 'String', 'Long', 'String']},
 ':`csu_1.Campuses`': {'property_names': ['County',
   'Id',
   'Location',
   'Campus',
   'Year'],
  'property_types': ['String', 'Long', 'String', 'String', 'Long']},
 ':`csu_1.csu_fees`': {'property_names': ['CampusFee', 'Campus', 'Year'],
  'property_types': ['Long', 'Long', 'Long']},
 ':`csu_1.degrees`': {'property_names': ['Degrees', 'Campus', 'Year'],
  'property_types': ['Long', 'Long', 'Long']},
 ':`csu_1.discipline_enrollments`': {'property_names': ['Undergraduate',
   'Discipline',
   'Graduate',
   'Campus',
   'Year'],
  'property_types': ['Long', 'Long', 'Long', 'Long', 'Long']},
 ':`csu_1.enrollments`': {'property_names': ['FTE_AY',
   'TotalEnrollment_AY',
   'Campus',
   'Year'],
  'property_types': ['Long', 'Long', 'Long', 'Long']},
 ':`csu_1.faculty`': {'property_names': ['Faculty', 'Campus', 'Year'],
  'property_types': ['Double', 'Long', 'Long']},
 ':`voter_2.Student`': {'property_names': ['Age',
   'Fname',
   'city_code',
   'LName',
   'Advisor',
   'Major',
   'Sex',
   'StuID'],
  'property_types': ['Long',
   'String',
   'String',
   'String',
   'Long',
   'Long',
   'String',
   'Long']},
 ':`voter_2.Voting_record`': {'property_names': ['Class_Senator_Vote',
   'Treasurer_Vote',
   'Election_Cycle',
   'StuID',
   'Registration_Date',
   'Secretary_Vote',
   'Class_President_Vote',
   'President_Vote',
   'Vice_President_Vote'],
  'property_types': ['Long',
   'Long',
   'String',
   'Long',
   'String',
   'Long',
   'Long',
   'Long',
   'Long']},
 ':`flight_1.flight`': {'property_names': ['departure_date',
   'price',
   'flno',
   'aid',
   'distance',
   'origin',
   'destination',
   'arrival_date'],
  'property_types': ['String',
   ['Long', 'Double'],
   'Long',
   'Long',
   'Long',
   'String',
   'String',
   'String']},
 ':`flight_1.aircraft`': {'property_names': ['name', 'aid', 'distance'],
  'property_types': ['String', 'Long', 'Long']},
 ':`flight_1.employee`': {'property_names': ['name', 'eid', 'salary'],
  'property_types': ['String', 'Long', 'Long']},
 ':`battle_death.battle`': {'property_names': ['name',
   'id',
   'latin_commander',
   'bulgarian_commander',
   'date',
   'result'],
  'property_types': ['String',
   'Long',
   'String',
   'String',
   'String',
   'String']},
 ':`battle_death.ship`': {'property_names': ['name',
   'id',
   'tonnage',
   'lost_in_battle',
   'ship_type',
   'disposition_of_ship',
   'location'],
  'property_types': ['String',
   'Long',
   'String',
   'Long',
   'String',
   'String',
   'String']},
 ':`battle_death.death`': {'property_names': ['id',
   'caused_by_ship_id',
   'killed',
   'note',
   'injured'],
  'property_types': ['Long', 'Long', 'Long', 'String', 'Long']},
 ':`match_season.country`': {'property_names': ['Country_id',
   'Official_native_language',
   'Country_name',
   'Capital'],
  'property_types': ['Long', 'String', 'String', 'String']},
 ':`match_season.team`': {'property_names': ['Name', 'Team_id'],
  'property_types': ['String', 'Long']},
 ':`match_season.match_season`': {'property_names': ['Country',
   'Team',
   'Player',
   'Draft_Pick_Number',
   'Season',
   'College',
   'Draft_Class',
   'Position'],
  'property_types': ['Long',
   'Long',
   'String',
   'Long',
   'Double',
   'String',
   'String',
   'String']},
 ':`match_season.player`': {'property_names': ['Player_ID',
   'Years_Played',
   'Total_WL',
   'Player',
   'Doubles_WL',
   'Singles_WL',
   'Team'],
  'property_types': ['Long',
   'String',
   'String',
   'String',
   'String',
   'String',
   'Long']},
 ':`real_estate_properties.Ref_Feature_Types`': {'property_names': ['feature_type_code',
   'feature_type_name'],
  'property_types': ['String', 'String']},
 ':`real_estate_properties.Ref_Property_Types`': {'property_names': ['property_type_code',
   'property_type_description'],
  'property_types': ['String', 'String']},
 ':`real_estate_properties.Other_Available_Features`': {'property_names': ['feature_id',
   'feature_description',
   'feature_type_code',
   'feature_name'],
  'property_types': ['Long', 'String', 'String', 'String']},
 ':`real_estate_properties.Properties`': {'property_names': ['buyer_offered_price',
   'date_sold',
   'date_on_market',
   'property_id',
   'apt_feature_1',
   'property_name',
   'property_type_code',
   'vendor_requested_price',
   'property_address',
   'room_count',
   'apt_feature_2',
   'agreed_selling_price'],
  'property_types': [['Long', 'Double'],
   'String',
   'String',
   'Long',
   'String',
   'String',
   'String',
   ['Long', 'Double'],
   'String',
   'Long',
   'String',
   ['Long', 'Double']]},
 ':`insurance_and_eClaims.Customers`': {'property_names': ['Customer_ID',
   'Customer_Details'],
  'property_types': ['Long', 'String']},
 ':`insurance_and_eClaims.Staff`': {'property_names': ['Staff_Details',
   'Staff_ID'],
  'property_types': ['String', 'Long']},
 ':`insurance_and_eClaims.Policies`': {'property_names': ['Customer_ID',
   'Start_Date',
   'End_Date',
   'Policy_ID',
   'Policy_Type_Code'],
  'property_types': ['Long', 'String', 'String', 'Long', 'String']},
 ':`insurance_and_eClaims.Claim_Headers`': {'property_names': ['Claim_Type_Code',
   'Date_of_Settlement',
   'Claim_Status_Code',
   'Amount_Piad',
   'Amount_Claimed',
   'Claim_Header_ID',
   'Policy_ID',
   'Date_of_Claim'],
  'property_types': ['String',
   'String',
   'String',
   ['Long', 'Double'],
   'Double',
   'Long',
   'Long',
   'String']},
 ':`insurance_and_eClaims.Claims_Processing_Stages`': {'property_names': ['Claim_Status_Description',
   'Claim_Status_Name',
   'Next_Claim_Stage_ID',
   'Claim_Stage_ID'],
  'property_types': ['String', 'String', 'Long', 'Long']},
 ':`insurance_and_eClaims.Claims_Processing`': {'property_names': ['Claim_Outcome_Code',
   'Claim_Processing_ID',
   'Staff_ID',
   'Claim_Stage_ID',
   'Claim_ID'],
  'property_types': ['String', 'Long', 'Long', 'Long', 'Long']},
 ':`music_2.Songs`': {'property_names': ['SongId', 'Title'],
  'property_types': ['String', 'String']},
 ':`music_2.Albums`': {'property_names': ['Type',
   'Title',
   'AId',
   'Label',
   'Year'],
  'property_types': ['String', 'String', 'String', 'String', 'String']},
 ':`music_2.Band`': {'property_names': ['Id', 'Firstname', 'Lastname'],
  'property_types': ['String', 'String', 'String']},
 ':`yelp.business`': {'property_names': ['name',
   'latitude',
   'is_open',
   'longitude',
   'bid',
   'state',
   'review_count',
   'full_address',
   'rating',
   'city',
   'business_id'],
  'property_types': ['String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String']},
 ':`yelp.category`': {'property_names': ['id', 'category_name', 'business_id'],
  'property_types': ['String', 'String', 'String']},
 ':`yelp.user`': {'property_names': ['name', 'uid', 'user_id'],
  'property_types': ['String', 'String', 'String']},
 ':`yelp.checkin`': {'property_names': ['count', 'cid', 'business_id', 'day'],
  'property_types': ['String', 'String', 'String', 'String']},
 ':`yelp.neighbourhood`': {'property_names': ['id',
   'neighbourhood_name',
   'business_id'],
  'property_types': ['String', 'String', 'String']},
 ':`yelp.review`': {'property_names': ['rid',
   'text',
   'month',
   'year',
   'rating',
   'business_id',
   'user_id'],
  'property_types': ['String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String']},
 ':`yelp.tip`': {'property_names': ['tip_id',
   'text',
   'likes',
   'month',
   'year',
   'business_id',
   'user_id'],
  'property_types': ['String',
   'String',
   'String',
   'String',
   'String',
   'String',
   'String']},
 ':`manufacturer.manufacturer`': {'property_names': ['Name',
   'Manufacturer_ID',
   'Open_Year',
   'Num_of_Shops',
   'Num_of_Factories'],
  'property_types': ['String', 'Long', 'Double', 'Long', 'Long']},
 ':`manufacturer.furniture`': {'property_names': ['Name',
   'Furniture_ID',
   'Market_Rate',
   'Num_of_Component'],
  'property_types': ['String', 'Long', 'Double', 'Long']},
 ':`assets_maintenance.Third_Party_Companies`': {'property_names': ['company_id',
   'company_name',
   'company_address',
   'company_type',
   'other_company_details'],
  'property_types': ['Long', 'String', 'String', 'String', 'String']},
 ':`assets_maintenance.Maintenance_Contracts`': {'property_names': ['maintenance_contract_company_id',
   'contract_end_date',
   'contract_start_date',
   'maintenance_contract_id'],
  'property_types': ['Long', 'String', 'String', 'Long']},
 ':`assets_maintenance.Parts`': {'property_names': ['chargeable_amount',
   'part_id',
   'chargeable_yn',
   'part_name'],
  'property_types': ['String', 'Long', 'String', 'String']},
 ':`assets_maintenance.Skills`': {'property_names': ['skill_code',
   'skill_id',
   'skill_description'],
  'property_types': ['String', 'Long', 'String']},
 ':`assets_maintenance.Staff`': {'property_names': ['staff_id',
   'other_staff_details',
   'staff_name',
   'gender'],
  'property_types': ['Long', 'String', 'String', 'String']},
 ':`assets_maintenance.Assets`': {'property_names': ['asset_id',
   'asset_details',
   'asset_acquired_date',
   'other_asset_details',
   'asset_model',
   'maintenance_contract_id',
   'supplier_company_id',
   'asset_disposed_date',
   'asset_make'],
  'property_types': ['Long',
   'String',
   'String',
   'String',
   'String',
   'Long',
   'Long',
   'String',
   'String']},
 ':`assets_maintenance.Maintenance_Engineers`': {'property_names': ['company_id',
   'engineer_id',
   'last_name',
   'first_name',
   'other_details'],
  'property_types': ['Long', 'Long', 'String', 'String', 'String']},
 ':`assets_maintenance.Fault_Log`': {'property_names': ['fault_log_entry_datetime',
   'asset_id',
   'fault_log_entry_id',
   'recorded_by_staff_id',
   'fault_description'],
  'property_types': ['String', 'Long', 'Long', 'Long', 'String']},
 ':`assets_maintenance.Engineer_Visits`': {'property_names': ['engineer_id',
   'visit_start_datetime',
   'visit_end_datetime',
   'fault_status',
   'engineer_visit_id',
   'fault_log_entry_id',
   'contact_staff_id'],
  'property_types': ['Long',
   'String',
   'String',
   'String',
   'Long',
   'Long',
   'Long']},
 ':`assets_maintenance.Part_Faults`': {'property_names': ['part_id',
   'part_fault_id',
   'fault_short_name',
   'fault_description'],
  'property_types': ['Long', 'Long', 'String', 'String']},
 ':`twitter_1.follows`': {'property_names': ['f2', 'f1'],
  'property_types': ['Long', 'Long']},
 ':`twitter_1.tweets`': {'property_names': ['id', 'uid', 'text', 'createdate'],
  'property_types': ['Long', 'Long', 'String', 'String']},
 ':`twitter_1.user_profiles`': {'property_names': ['name',
   'uid',
   'followers',
   'partitionid',
   'email'],
  'property_types': ['String', 'Long', 'Long', 'Long', 'String']},
 ':`local_govt_and_lot.Customers`': {'property_names': ['customer_id',
   'customer_details'],
  'property_types': ['Long', 'String']},
 ':`local_govt_and_lot.Properties`': {'property_names': ['property_type_code',
   'property_id',
   'property_address',
   'other_details'],
  'property_types': ['String', 'Long', 'String', 'String']},
 ':`local_govt_and_lot.Residents`': {'property_names': ['resident_id',
   'property_id',
   'date_moved_out',
   'other_details',
   'date_moved_in'],
  'property_types': ['Long', 'Long', 'String', 'String', 'String']},

In [11]:
import os
outfpath=os.path.join(root, 'text2cypher/schema.json')
with open(outfpath, 'w') as out:
    json.dump(sorted_schema, out, indent=4)

In [13]:
for split in ['train.json', 'dev.json']:
    fpth = os.path.join(root, 'spider', split )
    print(fpth)
    reformated_data = []
    with open(fpth, 'r', encoding='utf-8-sig') as f:
        data = json.load(f)
        for every in data:
            print(every)
            reformated = {}
            reformated['question'] = every['question']
            reformated['query'] = every['cypher_query']
            reformated['db_id'] = every['db_id']
            reformated['answers'] = every['answers']
            reformated_data.append(reformated)
        foutfpath=os.path.join(root, 'text2cypher', split)
        with open(foutfpath, 'w') as out:
            json.dump(reformated_data, out, indent=4)

/home/22842219/Desktop/phd/SemanticParser4Graph/semantic_parser/data/spider/train.json
{'db_id': 'department_management', 'cypher_query': 'MATCH (head:`department_management.head`)\nWHERE head.age > 56\nRETURN count(*)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['head', 'age'], 'Token_Name_Label': '`department_management.head`', 'Token_Operator': ['.', '>', '*'], 'Token_Literal_Number_Integer': '56', 'Token_Name_Function': 'count'}, 'question': 'How many heads of the departments are older than 56 ?', 'answers': [[5]]}
{'db_id': 'department_management', 'cypher_query': 'MATCH (head:`department_management.head`)\nRETURN head.name,head.born_state,head.age\nORDER BY head.age', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'name', 'ORDER BY'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')', ','], 'Token_Name_Variable': ['head', 'born_state', 'age'], 'Token_Name_Label': '`department_management.head`', 'Token_Operator': '.'}, 'question': 'List the name, born state and age of the heads of departments ordered by age.', 'answers': [['Pdraig Harrington', 'Connecticut', 43.0], ['Stewart Cink', 'Florida', 50.0], ['Dudley Hart', 'California', 52.0], ['Jeff Maggert', 'Delaware', 53.0], ['Nick Faldo', 'California', 56.0], ['Tiger Woods', 'Alabama', 67.0], ['Franklin Langham', 'Connecticut', 67.0], ['Sergio Garca', 'California', 68.0], ['K. J. Choi', 'Alabama', 69.0], ['Billy Mayfair', 'California', 69.0]]}
{'db_id': 'department_management', 'cypher_query': 'MATCH (department:`department_management.department`)\nRETURN department.Creation,department.Name,department.Budget_in_Billions', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'Name'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')', ','], 'Token_Name_Variable': ['department', 'Creation', 'Budget_in_Billions'], 'Token_Name_Label': '`department_management.department`', 'Token_Operator': '.'}, 'question': 'List the creation year, name and budget of each department.', 'answers': [['1789', 'State', 9.96], ['1789', 'Treasury', 11.1], ['1947', 'Defense', 439.3], ['1870', 'Justice', 23.4], ['1849', 'Interior', 10.7], ['1889', 'Agriculture', 77.6], ['1903', 'Commerce', 6.2], ['1913', 'Labor', 59.7], ['1953', 'Health and Human Services', 543.2], ['1965', 'Housing and Urban Development', 46.2], ['1966', 'Transportation', 58.0], ['1977', 'Energy', 21.5], ['1979', 'Education', 62.8], ['1989', 'Veterans Affairs', 73.2], ['2002', 'Homeland Security', 44.6]]}
{'db_id': 'department_management', 'cypher_query': 'MATCH (department:`department_management.department`)\nRETURN max(department.Budget_in_Billions),min(department.Budget_in_Billions)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')', ','], 'Token_Name_Variable': ['department', 'Budget_in_Billions'], 'Token_Name_Label': '`department_management.department`', 'Token_Name_Function': ['max', 'min'], 'Token_Operator': '.'}, 'question': 'What are the maximum and minimum budget of the departments?', 'answers': [[543.2, 6.2]]}
{'db_id': 'department_management', 'cypher_query': 'MATCH (department:`department_management.department`)\nWHERE 10<=department.Ranking<=15\nRETURN avg(department.Num_Employees)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['department', 'Ranking', 'Num_Employees'], 'Token_Name_Label': '`department_management.department`', 'Token_Literal_Number_Integer': ['10', '15'], 'Token_Operator': ['<=', '.'], 'Token_Name_Function': 'avg'}, 'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?', 'answers': [[105468.16666666667]]}
{'db_id': 'department_management', 'cypher_query': "MATCH (head:`department_management.head`)\nWHERE head.born_state <> 'California'\nRETURN head.name", 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'RETURN', 'name'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['head', 'born_state'], 'Token_Name_Label': '`department_management.head`', 'Token_Operator': ['.', '<>'], 'Token_Literal_String': "'California'"}, 'question': 'What are the names of the heads who are born outside the California state?', 'answers': [['Tiger Woods'], ['K. J. Choi'], ['Jeff Maggert'], ['Stewart Cink'], ['Pdraig Harrington'], ['Franklin Langham']]}
{'db_id': 'department_management', 'cypher_query': "MATCH (T1:`department_management.department`)-[T2:`department_management.management`]-(T3:`department_management.head`)\nWHERE T3.born_state = 'Alabama'\nRETURN DISTINCT T1.Creation", 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'RETURN DISTINCT'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')-[', ']-(', ')'], 'Token_Name_Variable': ['T1', 'T2', 'T3', 'born_state', 'Creation'], 'Token_Name_Label': ['`department_management.department`', '`department_management.management`', '`department_management.head`'], 'Token_Operator': ['.', '='], 'Token_Literal_String': "'Alabama'"}, 'question': "What are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?", 'answers': [['1903']]}
{'db_id': 'department_management', 'cypher_query': 'MATCH (head:`department_management.head`)\nWITH head.born_state AS born_state, count(*) AS count\nWHERE count  >= 3\nRETURN born_state', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WITH', 'AS', 'WHERE', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n', '  '], 'Token_Punctuation': ['(', ':', ')', ','], 'Token_Name_Variable': ['head', 'born_state', 'count'], 'Token_Name_Label': '`department_management.head`', 'Token_Operator': ['.', '*', '>='], 'Token_Name_Function': 'count', 'Token_Literal_Number_Integer': '3'}, 'question': 'What are the names of the states where at least 3 heads were born?', 'answers': [['California']]}
{'db_id': 'department_management', 'cypher_query': 'MATCH (department:`department_management.department`)\nWITH department.Creation AS Creation, count(department.Creation) AS count\nRETURN Creation\nORDER BY count DESC\nLIMIT 1', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WITH', 'AS', 'RETURN', 'ORDER BY', 'DESC', 'LIMIT'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')', ','], 'Token_Name_Variable': ['department', 'Creation', 'count'], 'Token_Name_Label': '`department_management.department`', 'Token_Operator': '.', 'Token_Name_Function': 'count', 'Token_Literal_Number_Integer': '1'}, 'question': 'In which year were most departments established?', 'answers': [['1789']]}
{'db_id': 'department_management', 'cypher_query': "MATCH (T1:`department_management.department`)-[T2:`department_management.management`]-()\nWHERE T2.temporary_acting = 'Yes'\nRETURN T1.Name,T1.Num_Employees", 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'RETURN', 'Name'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')-[', ']-(', ')', ','], 'Token_Name_Variable': ['T1', 'T2', 'temporary_acting', 'Num_Employees'], 'Token_Name_Label': ['`department_management.department`', '`department_management.management`'], 'Token_Operator': ['.', '='], 'Token_Literal_String': "'Yes'"}, 'question': "Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?", 'answers': [['Treasury', 115897.0], ['Treasury', 115897.0], ['Homeland Security', 208000.0]]}
{'db_id': 'department_management', 'cypher_query': 'MATCH ()-[management:`department_management.management`]-()\nRETURN count(DISTINCT management.temporary_acting)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'management'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ')-[', ':', ']-(', ')'], 'Token_Name_Variable': ['management', 'temporary_acting'], 'Token_Name_Label': '`department_management.management`', 'Token_Name_Function': 'count', 'Token_Operator': ['DISTINCT', '.']}, 'question': 'How many acting statuses are there?', 'answers': [[2]]}
{'db_id': 'department_management', 'cypher_query': 'MATCH (department:`department_management.department`)\nWHERE NOT (department:`department_management.department`)-[:`department_management.management`]-()\nRETURN count(*)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')', ')-[', ']-('], 'Token_Name_Variable': 'department', 'Token_Name_Label': ['`department_management.department`', '`department_management.management`'], 'Token_Operator': ['NOT', '*'], 'Token_Name_Function': 'count'}, 'question': 'How many departments are led by heads who are not mentioned?', 'answers': [[11]]}
{'db_id': 'department_management', 'cypher_query': "MATCH ()-[T2:`department_management.management`]-(T1:`department_management.head`)\nWHERE T2.temporary_acting = 'Yes'\nRETURN DISTINCT T1.age", 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'RETURN DISTINCT'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ')-[', ':', ']-(', ')'], 'Token_Name_Variable': ['T2', 'T1', 'temporary_acting', 'age'], 'Token_Name_Label': ['`department_management.management`', '`department_management.head`'], 'Token_Operator': ['.', '='], 'Token_Literal_String': "'Yes'"}, 'question': 'What are the distinct ages of the heads who are acting?', 'answers': [[52.0], [53.0], [69.0]]}
{'db_id': 'department_management', 'cypher_query': 'MATCH ()-[T2:`department_management.management`]-(T1:`department_management.department`)\nWITH T1.Name AS Name, count(*) AS count, T1.Department_ID AS Department_ID\nWHERE count  > 1\nRETURN Department_ID,Name,count', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WITH', 'Name', 'AS', 'WHERE', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n', '  '], 'Token_Punctuation': ['(', ')-[', ':', ']-(', ')', ','], 'Token_Name_Variable': ['T2', 'T1', 'count', 'Department_ID'], 'Token_Name_Label': ['`department_management.management`', '`department_management.department`'], 'Token_Operator': ['.', '*', '>'], 'Token_Name_Function': 'count', 'Token_Literal_Number_Integer': '1'}, 'question': 'Which department has more than 1 head at a time? List the id, name and the number of heads.', 'answers': [[2, 'Treasury', 2]]}
{'db_id': 'department_management', 'cypher_query': "MATCH (head:`department_management.head`)\nWHERE head.name =~'.*[H|h]a.*'\nRETURN head.head_ID,head.name", 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'name', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')', ','], 'Token_Name_Variable': ['head', 'head_ID'], 'Token_Name_Label': '`department_management.head`', 'Token_Operator': ['.', '=~'], 'Token_Literal_String': "'.*[H|h]a.*'"}, 'question': "Which head's name has the substring 'Ha'? List the id and name.", 'answers': [[4, 'Dudley Hart'], [9, 'Pdraig Harrington'], [10, 'Franklin Langham']]}
{'db_id': 'farm', 'cypher_query': 'MATCH (farm:`farm.farm`)\nRETURN count(*)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': 'farm', 'Token_Name_Label': '`farm.farm`', 'Token_Name_Function': 'count', 'Token_Operator': '*'}, 'question': 'How many farms are there?', 'answers': [[8]]}
{'db_id': 'farm', 'cypher_query': 'MATCH (farm:`farm.farm`)\nRETURN count(*)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': 'farm', 'Token_Name_Label': '`farm.farm`', 'Token_Name_Function': 'count', 'Token_Operator': '*'}, 'question': 'Count the number of farms.', 'answers': [[8]]}
{'db_id': 'farm', 'cypher_query': 'MATCH (farm:`farm.farm`)\nRETURN farm.Total_Horses\nORDER BY farm.Total_Horses ASC', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'ORDER BY', 'ASC'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['farm', 'Total_Horses'], 'Token_Name_Label': '`farm.farm`', 'Token_Operator': '.'}, 'question': 'List the total number of horses on farms in ascending order.', 'answers': [[2546.9], [2604.8], [3658.9], [4781.3], [5056.5], [5308.2], [5486.9], [5607.5]]}
{'db_id': 'farm', 'cypher_query': 'MATCH (farm:`farm.farm`)\nRETURN farm.Total_Horses\nORDER BY farm.Total_Horses ASC', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'ORDER BY', 'ASC'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['farm', 'Total_Horses'], 'Token_Name_Label': '`farm.farm`', 'Token_Operator': '.'}, 'question': 'What is the total horses record for each farm, sorted ascending?', 'answers': [[2546.9], [2604.8], [3658.9], [4781.3], [5056.5], [5308.2], [5486.9], [5607.5]]}
{'db_id': 'farm', 'cypher_query': "MATCH (farm_competition:`farm.farm_competition`)\nWHERE farm_competition.Theme <> 'Aliens'\nRETURN farm_competition.Hosts", 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['farm_competition', 'Theme', 'Hosts'], 'Token_Name_Label': '`farm.farm_competition`', 'Token_Operator': ['.', '<>'], 'Token_Literal_String': "'Aliens'"}, 'question': 'What are the hosts of competitions whose theme is not "Aliens"?', 'answers': [['Miley Cyrus Jared Leto and Karen Mok'], ['Leehom Wang and Kelly Rowland'], ['Alicia Keys'], ['Vanness Wu and Michelle Branch'], ['Shaggy and Coco Lee']]}
{'db_id': 'farm', 'cypher_query': "MATCH (farm_competition:`farm.farm_competition`)\nWHERE farm_competition.Theme <> 'Aliens'\nRETURN farm_competition.Hosts", 'parsed_cypher': {'Token_Keyword': ['MATCH', 'WHERE', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['farm_competition', 'Theme', 'Hosts'], 'Token_Name_Label': '`farm.farm_competition`', 'Token_Operator': ['.', '<>'], 'Token_Literal_String': "'Aliens'"}, 'question': 'Return the hosts of competitions for which the theme is not Aliens?', 'answers': [['Miley Cyrus Jared Leto and Karen Mok'], ['Leehom Wang and Kelly Rowland'], ['Alicia Keys'], ['Vanness Wu and Michelle Branch'], ['Shaggy and Coco Lee']]}
{'db_id': 'farm', 'cypher_query': 'MATCH (farm_competition:`farm.farm_competition`)\nRETURN farm_competition.Theme\nORDER BY farm_competition.Year ASC', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'ORDER BY', 'ASC'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['farm_competition', 'Theme', 'Year'], 'Token_Name_Label': '`farm.farm_competition`', 'Token_Operator': '.'}, 'question': 'What are the themes of farm competitions sorted by year in ascending order?', 'answers': [['Aliens'], ['MTV Cube'], ["Valentine's Day"], ['MTV Asia Aid'], ['Codehunters'], ['Carnival M is back!']]}
{'db_id': 'farm', 'cypher_query': 'MATCH (farm_competition:`farm.farm_competition`)\nRETURN farm_competition.Theme\nORDER BY farm_competition.Year ASC', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'ORDER BY', 'ASC'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['farm_competition', 'Theme', 'Year'], 'Token_Name_Label': '`farm.farm_competition`', 'Token_Operator': '.'}, 'question': 'Return the themes of farm competitions, sorted by year ascending.', 'answers': [['Aliens'], ['MTV Cube'], ["Valentine's Day"], ['MTV Asia Aid'], ['Codehunters'], ['Carnival M is back!']]}
{'db_id': 'farm', 'cypher_query': 'MATCH (farm:`farm.farm`)\nRETURN max(farm.Cows),min(farm.Cows)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')', ','], 'Token_Name_Variable': ['farm', 'Cows'], 'Token_Name_Label': '`farm.farm`', 'Token_Name_Function': ['max', 'min'], 'Token_Operator': '.'}, 'question': 'What are the maximum and minimum number of cows across all farms.', 'answers': [[3987.0, 2407.2]]}
{'db_id': 'farm', 'cypher_query': 'MATCH (farm:`farm.farm`)\nRETURN max(farm.Cows),min(farm.Cows)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')', ','], 'Token_Name_Variable': ['farm', 'Cows'], 'Token_Name_Label': '`farm.farm`', 'Token_Name_Function': ['max', 'min'], 'Token_Operator': '.'}, 'question': 'Return the maximum and minimum number of cows across all farms.', 'answers': [[3987.0, 2407.2]]}
{'db_id': 'farm', 'cypher_query': 'MATCH (city:`farm.city`)\nRETURN count(DISTINCT city.Status)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['city', 'Status'], 'Token_Name_Label': '`farm.city`', 'Token_Name_Function': 'count', 'Token_Operator': ['DISTINCT', '.']}, 'question': 'How many different statuses do cities have?', 'answers': [[2]]}
{'db_id': 'farm', 'cypher_query': 'MATCH (city:`farm.city`)\nRETURN count(DISTINCT city.Status)', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['city', 'Status'], 'Token_Name_Label': '`farm.city`', 'Token_Name_Function': 'count', 'Token_Operator': ['DISTINCT', '.']}, 'question': 'Count the number of different statuses.', 'answers': [[2]]}
{'db_id': 'farm', 'cypher_query': 'MATCH (city:`farm.city`)\nRETURN city.Official_Name\nORDER BY city.Population DESC', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'ORDER BY', 'DESC'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['city', 'Official_Name', 'Population'], 'Token_Name_Label': '`farm.city`', 'Token_Operator': '.'}, 'question': 'List official names of cities in descending order of population.', 'answers': [['Grand Falls/Grand-Sault'], ['Perth-Andover'], ['Plaster Rock'], ['Drummond'], ['Aroostook']]}
{'db_id': 'farm', 'cypher_query': 'MATCH (city:`farm.city`)\nRETURN city.Official_Name\nORDER BY city.Population DESC', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'ORDER BY', 'DESC'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')'], 'Token_Name_Variable': ['city', 'Official_Name', 'Population'], 'Token_Name_Label': '`farm.city`', 'Token_Operator': '.'}, 'question': 'What are the official names of cities, ordered descending by population?', 'answers': [['Grand Falls/Grand-Sault'], ['Perth-Andover'], ['Plaster Rock'], ['Drummond'], ['Aroostook']]}
{'db_id': 'farm', 'cypher_query': 'MATCH (city:`farm.city`)\nRETURN city.Official_Name,city.Status\nORDER BY city.Population DESC\nLIMIT 1', 'parsed_cypher': {'Token_Keyword': ['MATCH', 'RETURN', 'ORDER BY', 'DESC', 'LIMIT'], 'Token_Text_Whitespace': [' ', '\n'], 'Token_Punctuation': ['(', ':', ')', ','], 'Token_Name_Variable': ['city', 'Official_Name', 'Status', 'Population'], 'Token_Name_Label': '`farm.city`', 'Token_Operator': '.', 'Token_Literal_Number_Integer': '1'}, 'question': 'List the official name and status of the city with the largest population.', 'answers': [['Grand Falls/Grand-Sault', 'Town']]}